{% extends "@DOMJudge/Fls/Sadmin/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/jury/jury_macros.twig" as macros %}

{% block title %}Storage Analysis -
	{{ parent() }}
{% endblock %}

{% block extrahead %}
	{# <link rel="stylesheet" href="{{ asset('css/Fls/Student/student.css') }}"> #}
	<link rel="stylesheet" href="{{ asset('lib/Chart.min.css') }}">
	<script src="{{ asset("lib/Chart.min.js") }}"></script>
	<script src="{{ asset("js/Fls/Sadmin/sadmin.js") }}"></script>
	{{ parent() }}
	{{ macros.table_extrahead() }}
{% endblock %}

{% block content %}
	<div id="dom_data" data-charts="{{ (charts is defined) ? charts:[] }}" data-db-charts="{{ (dbcharts is defined) ? dbcharts:[] }}" hidden></div>
	<h1>Server Storage Analysis</h1>
	<div class="card shadow mb-3 h-50 row ml-0">
		<div class="col-md-3 pr-0 pl-0">
			<div class="chart">
				<canvas id="myChart" width="100%" height="75%"></canvas>
				<div style="text-align: center;"> Data in Megabyte</div>
			</div>
		</div>
		<div class="col-md-3 pr-0 pl-0">			
			<ul class="list-group">
				<li class="list-group-item list-group-item-action"><a>Submission Directory currently ≈ {{submit_dir_size}} MB/{{total_disk}} MB</a></li>
				<li class="list-group-item list-group-item-action"><a>Judgings Directory currently ≈ {{judging_dir_size}} MB/{{total_disk}} MB</a></li>
				{% if (total_disk - free_disk) < 20 %}
					<li class="list-group-item list-group-item-action"><a>Storage has free ≈ {{free_disk}} MB/{{total_disk}} MB</a></li>
				{% else %}
					<li class="list-group-item list-group-item-action ist-group-item-warning"><a>Storage has free ≈ {{free_disk}} MB/{{total_disk}} MB</a></li>
				{% endif %}	
			</ul>
		</div>
	</div>
	<div class="card shadow mb-3 h-50 row ml-0">
		<div class="col-md-3 pr-0 pl-0">
			<div class="chart">
				<canvas id="dbChart" width="100%" height="75%"></canvas>
				<div style="text-align: center;"> Data in Megabyte</div>
			</div>
		</div>
		<div class="col-md-3 pr-0 pl-0">			
			<ul class="list-group">
				<li class="list-group-item list-group-item-action"><a>Database {{dbname}} currently ≈ {{dbsize}} MB/{{total_disk}} MB</a></li>
				{% if (total_disk - free_disk) < 20 %}
					<li class="list-group-item list-group-item-action"><a>Storage has free ≈ {{free_disk}} MB/{{total_disk}} MB</a></li>
				{% else %}
					<li class="list-group-item list-group-item-action ist-group-item-warning"><a>Storage has free ≈ {{free_disk}} MB/{{total_disk}} MB</a></li>
				{% endif %}	
			</ul>
		</div>
	</div>

{% endblock %}
