{% extends "@DOMJudge/Fls/Sadmin/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/jury/jury_macros.twig" as macros %}

{% block title %}Auditlog - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Auditlog</h1>
    {% if maxPages > 1 %}
    <ul class="pagination pagination-sm">
        <li class="page-item{{ showAll or thisPage == 1 ? ' disabled' }}">
            <a class="page-link" href="{{ path('jury_auditlog', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
        </li>
    
        {% for i in 1..maxPages %}
        <li class="page-item{{ not showAll and thisPage == i ? ' active' }}">
            <a class="page-link" href="{{ path('jury_auditlog', {page: i}) }}">{{ i }}</a>
        </li>
        {% endfor %}
    
        <li class="page-item{{ showAll or thisPage == maxPages ? ' disabled' }}">
            <a class="page-link" href="{{ path('jury_auditlog', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
        </li>

        <li class="page-item{{ showAll ? ' active' }}">
            <a class="page-link" href="{{ path('jury_auditlog', {showAll: true}) }}">show all</a>
        </li>
    </ul>
    {% endif %}

    {{ macros.table(auditlog, table_fields, 0, table_options) }}

{% endblock %}
