{% extends "@DOMJudge/Fls/Sadmin/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/jury/jury_macros.twig" as macros %}

{% block title %}Configuration check - {{ parent() }}{% endblock %}

{% block content %}
{# <div class="card w-40 float-right m-5">
  <div class="card-body">
  <h5 class="card-title">System information</h5>
  <table class="w-100">
  <tr><td>DOMjudge:</td><td>{{ DOMJUDGE_VERSION }}</td></tr>
  <tr><td>Environment:</td><td>{{ app.environment }}</td></tr>
  <tr><td>Debug:</td><td>{{ app.debug|printYesNo }}</td></tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr><td>PHP:</td><td>{{ constant('PHP_VERSION') }} <a href="{{ path('jury_config_phpinfo') }}"><i class="fas fa-info-circle"></i></a></td></tr>
  <tr><td>Symfony:</td><td>{{ constant('\\Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</td></tr>
  <tr><td>Twig:</td><td>{{ constant('Twig_Environment::VERSION') }}</td></tr>
  </table>
  </div>
</div> #}

<h1>Configuration check</h1>

{% for resultgroup,groupresults in results %}
<h3 class="mt-3 ml-3">{{ resultgroup }}</h3>

<div class="accordion w-50 ml-5" id="{{ resultgroup|replace({' ':''}) }}" role="tablist" aria-multiselectable="true">

{% for test,testresult in groupresults %}
  <div class="card">
    <h6 class="card-header result {{ testresult.result }}" role="tab" id="heading{{ test }}">
      <a class="collapsed d-block text-dark pt-0 pb-0" data-toggle="collapse" href="#collapse{{ test }}" aria-expanded="true" aria-controls="collapse{{ test }}" data-parent="#{{ resultgroup|replace({' ':''}) }}">
        {% if testresult.result == 'O' %}
        <i class="fas fa-check text-success"></i>
        {% elseif testresult.result == 'W' %}
        <i class="fas fa-exclamation-triangle text-warning"></i>
        {% elseif testresult.result == 'E' %}
        <i class="fas fa-skull-crossbones text-danger"></i>
        {% endif %}
        <i class="fa fa-chevron-down float-right"></i>
        {{ testresult.caption }}
      </a>
    </h6>

    <div id="collapse{{ test }}" class="collapse collapsed" role="tabpanel" aria-labelledby="heading{{ test }}">
      <div class="card-body">
        {% set description = testresult.desc %}
        {% if testresult.escape is not defined or testresult.escape %}
          {% set description = description | escape %}
        {% endif %}
        {{ description | replace({"\n":"<br />\n"}) | raw }}
      </div>
    </div>
  </div>

{% endfor %}
</div>

{% endfor %}

<div class="mt-5 mb-5">
All checks complete. <i class="fas fa-clipboard-check"></i>
</div>
{% endblock %}
