{% extends "@DOMJudge/Fls/Sadmin/base.html.twig" %}
{% import _self as self %}

{% block title %}{{ parent() }} - Admin Interface{% endblock %}

{% block extrahead %}
{{ parent() }}
{% endblock %}

{% block content %}
<h1>Super Admin interface</h1>

<div class="row equal mt-3">
    <div class="col-lg-4 col-md-5 col-sm-6 mt-3">
        {% if is_granted('ROLE_ADMIN') %}
        <div class="card mb-3">
            <div class="card-header">
                FLS Management:
            </div>
            <div class="card-body">
                <ul>
                    <li><a href="{{ path('admin_users') }}">Users</a></li>
                    <li><a href="{{ path('teacher_index') }}">Classes</a></li>
                    <li><a href="{{ path('admin_semester') }}">Semesters</a></li>
                    <li><a href="{{ path('teacher_languages',{'cid':cid|default('')}) }}">Languages</a></li>
                </ul>
            </div>
        </div>
        {% endif %}

        <div class="card mb-3">
            <div class="card-header">
                FLS Common Resource:
            </div>
            <div class="card-body">
                <ul>
                    <li><a href="{{ path('admin_rooms') }}">Laboratory Rooms</a></li>
                    <li><a href="{{ path('teacher_problems') }}">Problems</a></li>
                    <li><a href="{{ path('teacher_executables') }}">Executables</a></li>
                    <li><a href="{{ path('teacher_languages',{'cid':cid|default('')}) }}">Languages</a></li> 
                    <li><a href="{{ path('teacher_judgehosts') }}">Judgehosts</a></li>
                </ul>
            </div>
        </div>
    </div>

  <div class="col-lg-4 col-md-5 col-sm-6 mt-3">
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="card mb-3">
      <div class="card-header">
        Administrator:
      </div>
      <div class="card-body">
        <ul>
          <li><a href="{{ path('sadmin_analysis') }}">Storage Analysis</a></li>
          <li><a href="{{ path('sadmin_config') }}">Configuration settings</a></li>
          <li><a href="{{ path('sadmin_config_check') }}">Config checker</a></li>
          <li><a href="{{ path('sadmin_auditlog') }}">Audit log</a></li>
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

