{% extends '@DOMJudge/Fls/share/menu.html.twig' %}
{% set baseRoute = 'admin_index' %}

{% block menu_item %}
    <div class="collapse navbar-collapse" id="menuDefault" data-update-url="{{ path('teacher_ajax_updates') }}">
    </div>
{% endblock %}

{% block right_item %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> {{ app.user.getUsername() }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if app.user and app.user.getName() %}
                <a class="dropdown-item disabled" href="#">{{ app.user.getName() }}</a>
            {% endif %}

            <a class="dropdown-item d-none" href="#" id="notify_disable">
                <i class="fas fa-bell-slash fa-fw"></i> Disable Notifications
            </a>
            <a class="dropdown-item d-none" href="#" id="notify_enable">
                <i class="fas fa-bell fa-fw"></i> Enable Notifications
            </a>

            {% if refresh is defined and refresh %}
                <a class="dropdown-item" href="#" id="refresh-navitem">
                    <i class="fas fa-sync-alt fa-fw"></i> <span id="refresh-toggle">
                {% if refresh_flag %}
                    Disable Refresh
                {% else %}
                    Enable Refresh
                {% endif %}
            </span>
                    {% if refresh %}
                        <span class="small text-muted">({{ refresh.after }}s)</span>
                    {% endif %}
                </a>
            {% endif %}

            <a class="dropdown-item" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt fa-fw"></i>Logout </a>
        </div>
    </li>

    </li>
{% endblock %}
