.main-content {
    background: url(../../../images/Fls/br1_fpt.jpg) no-repeat 37% 85%;
    height: calc(100vh) !important;
}

.login_content {
    width: 100%;
    height: 100%;
}

.login {
    border: 2px solid black;
    background-color: #ffffff;
    opacity: 0.88;
    width: 25%;
    min-width: 400px;
    height: auto;
    min-height: 280px;
}

.logo_login {
    height: 100px;
    border-bottom: 1px solid black;
}

.logo_fpt {
    margin-left: 20px;
    background-image: url("../../../images/Fls/Logo_Đại_học_FPT_w.png");
    background-size: 150px 100px;
    width: 150px;
    height: 99px;
}

.logo_fls {
    margin-right: 20px;
    background: url("../../../images/Fls/logo_FLS.png");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 100px;
}