body {
    height: 100%;
    width: 100%;
    position: absolute;
    padding-bottom: 0 !important;
}

.container-fluid {
    /* height: inherit; */
}

.footer {
    position: absolute;
    bottom: 1rem;
    right: 0;
    height: 20px;
    width: 100%;
    font-size: 12px;
    z-index: 2;
}

.footer div {
    margin: 0 auto;
    width: 130px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.is_selected {
    font-weight: bold;
    /* font-size: 25px !important; */
}

.error_message {
    color: red;
}

.success_message {
    color: #456626;
}


/* .outer-div {
    height: 100%;
    display: flex;
    flex-direction: column;
} */

.input-group .required:after {
    content: "(*)";
    color: red;
}


/* table ag-grid*/

.ag-cell-label-container {
    font-size: 18px !important;
    color: black;
}

.ag-cell-value {
    font-size: 16px !important;
}

@font-face {
    font-family: flslogo;
    src: url(Moonshine-Bold.otf);
    /* src: url(neo-sans-w1g-204.otf); */
}