.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 1rem;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    background-color: #F2F2F2 !important;
}

.bg_item_menu {
    box-shadow: -2px 3px 2px 0px #2f2f2f;
    color: black !important;
    height: 3rem;
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    background-color: #F2F2F2 !important;
}

.logo_menu {
    height: 5rem;
}

.logo_menu>img {
    height: 6rem;
}

.blink_me {
    animation: blinker 1s linear infinite;
    /* transition: color 0.5s ease; */
    color: rgb(92, 204, 18) !important;
}

.blink_me:hover {
    animation: none;
}

@keyframes blinker {
    60% {
        opacity: 0.2;
    }
}


/* for toggle behavior */

#sidebar.active {
    margin-left: -17rem;
}

#content-main.active {
    width: 100% !important;
    margin: 0;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content-main {
        width: 100%;
        margin: 0;
    }
    #content-main.active {
        margin-left: 17rem;
        width: calc(100% - 18rem);
    }
}