{% extends "@DOMJudge/Fls/Admin/base.html.twig" %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ asset('css/Fls/Admin/admin.css') }}">
{% endblock %}

{% block content  %}
    <!-- content 1 -->
    <div class="container">
        <div class="row">
            <div class="col">
                <fieldset>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" placeholder="Language ID/text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Fullname</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" placeholder="External ID">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" placeholder="Entry point description">
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Roles</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        Super Admin
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Admin
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Teacher
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Student
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Class</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">SE1112</a>
                                        <a class="dropdown-item" href="#">SE1113</a>
                                        <a class="dropdown-item" href="#">SE1114</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">OK</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table id="tb_problem" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Full name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Class</th>
                            <th scope="col">Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">HiepTH</th>
                            <td>Tran Huu Hiep</td>
                            <td>hiepthse04506@fpt.edu.vn</td>
                            <td>SE1204</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <th scope="row">HiepTH</th>
                            <td>Tran Huu Hiep</td>
                            <td>hiepthse04506@fpt.edu.vn</td>
                            <td>SE1204</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <th scope="row">HiepTH</th>
                            <td>Tran Huu Hiep</td>
                            <td>hiepthse04506@fpt.edu.vn</td>
                            <td>SE1204</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <th scope="row">HiepTH</th>
                            <td>Tran Huu Hiep</td>
                            <td>hiepthse04506@fpt.edu.vn</td>
                            <td>SE1204</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <th scope="row">HiepTH</th>
                            <td>Tran Huu Hiep</td>
                            <td>hiepthse04506@fpt.edu.vn</td>
                            <td>SE1204</td>
                            <td>Active</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    {% endblock %}
