{% extends "@DOMJudge/Fls/Admin/base.html.twig" %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ asset('css/Fls/Admin/admin.css') }}">
{% endblock %}

{% block content %}
    <div class="col-12 text-center">
        <h1>Add problem</h1>
    </div>
    <div class="pt-3 col-md-12 ">
        {{ form_start(form) }}
        <div class="col-md-12 d-flex justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="col-md-12 row pr-0">
                    <div class="col-lg-6 col-md-12 pl-0 pr-5 pt-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text required" id="basic-addon1">Problem name</span>
                            </div>
                            {{ form_widget(form.name) }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 pl-0 pr-5 pt-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Problem text</span>
                            </div>
                            <div class="custom-file">
                                {# <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"> #}
                                {{ form(form.problemtext) }}
                                <label class="custom-file-label" for="problem_problemtext">Choose file</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 row pr-0">
                    <div class="col-lg-3 col-md-6 pl-0 pr-5 pt-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text required" id="basic-addon1">Number loc</span>
                            </div>
                            {{ form_widget(form.points) }}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 pl-0 pr-5 pt-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Time limit</span>
                            </div>
                            {{ form_widget(form.timelimit) }}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 pl-0 pr-5 pt-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Memory limit</span>
                            </div>
                            {{ form_widget(form.memlimit) }}
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 pl-0 pr-5 pt-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Output limit</span>
                            </div>
                            {{ form_widget(form.outputlimit) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 row pr-0">
                    <div class="col-lg-6 col-md-6 pl-0 pr-5 pt-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Run script</span>
                            </div>
                            {{ form_widget(form.special_run) }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 pl-0 pr-5 pt-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Time limit</span>
                            </div>
                            {{ form_widget(form.special_compare) }}
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 pl-0 pr-5 pt-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Compare script arguments</span>
                            </div>
                            {{ form_widget(form.special_compare_args) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pt-1 pb-2 d-inline-flex justify-content-center">
                    <div class"col-md-6">
                        {{ form_widget(form.combinedRunCompare) }}
                    </div>
                </div>
                <div class="col-md-12 pt-2 d-inline-flex justify-content-center">
                    <div class"col-md-6">
                        {{ form_widget(form.save) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
