{% extends "@DOMJudge/Fls/Admin/base.html.twig" %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ asset('css/Fls/Admin/admin.css') }}">
{% endblock %}

{% block content  %}
    <!-- content 1 -->
    <div class="container">
        <div class="row">
            <div class="col">
                <fieldset>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Class ID</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" placeholder="Language ID/text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Class Name</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Timer</label>
                        <div class="col-sm-3">
                            <input type="date" name="bday">
                        </div>
                        <label class="col-sm-2 col-form-label">~</label>
                        <div class="col-sm-3">
                            <input type="date" name="bday">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Room</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" placeholder="External ID">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">OK</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table id="tb_problem" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Class ID</th>
                            <th scope="col">Class Name</th>
                            <th scope="col">Timer</th>
                            <th scope="col">Room</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>SE1113</td>
                            <td>2019/05/27 ~ 2019/08/27</td>
                            <td>SE1204</td>

                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>SE1113</td>
                            <td>2019/05/27 ~ 2019/08/27</td>
                            <td>SE1204</td>

                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>SE1113</td>
                            <td>2019/05/27 ~ 2019/08/27</td>
                            <td>SE1204</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>SE1113</td>
                            <td>2019/05/27 ~ 2019/08/27</td>
                            <td>SE1204</td>

                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>SE1113</td>
                            <td>2019/05/27 ~ 2019/08/27</td>
                            <td>SE1204</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    {% endblock %}
