{% extends "@DOMJudge/Fls/Admin/base.html.twig" %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ asset('css/Fls/Admin/admin.css') }}">
{% endblock %}

{% block content  %}
    <!-- content 1 -->
    <div class="content_1 flex-column">
        <div class="d-flex flex-row bd-highlight mb-3" >
            <div class="p-2 bd-highlight">
                <b>Judge Host:</b>
            </div>
            <div class="p-2 bd-highlight">
                Total Host : <span>5</span>
            </div>
            <div class="p-2 bd-highlight"  style="min-width: 300px;">
                IS1204 : <input type="text">
            </div>
            <div class="p-2 bd-highlight" >
                <button type="button" class="btn btn-success">Start all judgehost</button>
                <button type="button" class="btn btn-danger">Stop all judgehost</button>
            </div>
        </div>
        
        <div class="d-inline-flex sub_content">
            <div class="content_1_table">
                <table id="tb_problem" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Host Name</th>
                            <th scope="col">Active</th>
                            <th scope="col">Status</th>
                            <th scope="col">Restriction</th>
                            <th scope="col">Load</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>P-0001</td>
                            <td>Hello world</td>
                            <td>100</td>
                            <td>doing</td>
                            <td>
                                <button type="button" class="btn btn-success">Start </button>
                                <button type="button" class="btn btn-danger">Stop </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>P-0001</td>
                            <td>Hello world</td>
                            <td>100</td>
                            <td>done</td>
                            <td>
                                <button type="button" class="btn btn-success">Start </button>
                                <button type="button" class="btn btn-danger">Stop </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>P-0001</td>
                            <td>Hello world</td>
                            <td>100</td>
                            <td>-</td>
                            <td>
                                <button type="button" class="btn btn-success">Start </button>
                                <button type="button" class="btn btn-danger">Stop </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>P-0001</td>
                            <td>Hello world</td>
                            <td>100</td>
                            <td>doing</td>
                            <td>
                                <button type="button" class="btn btn-success">Start </button>
                                <button type="button" class="btn btn-danger">Stop </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>P-0001</td>
                            <td>Hello world</td>
                            <td>100</td>
                            <td>done</td>
                            <td>
                                <button type="button" class="btn btn-success">Start </button>
                                <button type="button" class="btn btn-danger">Stop </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}