{% extends "@DOMJudge/Fls/Admin/base.html.twig" %}

{% block extrahead %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/Fls/Admin/admin.css') }}">
	<script src="{{ asset("js/Fls/Admin/classes.js") }}"></script>
{% endblock %}

{% block content  %}
	<!-- content 1 -->
	<div class="content_1 flex-column">
		<div class="d-flex flex-row bd-highlight mb-3">
			<div class="p-2 bd-highlight">
				<h1>Classes management</h1>
			</div>
		</div>
		<div class="d-flex flex-row bd-highlight mb-3">
			<div class="p-2 bd-highlight">
				<a href="{{ path('admin_class_add') }}">
					<button type="button" class="btn btn-primary">
						<i class="fas fa-plus"></i>
						<span>
							Add new class</span>
					</button>
				</a>
			</div>
			<div class="p-2 bd-highlight">
				<button type="button" id='btnImport' class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Import Class">
					<i class="fas fa-file-import"></i>
					<span>
						Import</span>
				</button>
			</div>
		</div>
		<div class="d-inline-flex sub_content">
			<div id="dom_data" data-list-classes="{{ listClasses }}" data-list-teachers="{{ listTeachers }}" data-route-detail="{{ path('admin_class_detail',{'cid':''}) }}" data-route-add-teacher="{{ path('admin_class_add_teacher') }}" data-route-starttime="{{ path('data-route-starttime') }}" data-route-stoptime="{{ path('data-route-stoptime') }}" data-route-import="{{ path('admin_class_import') }}" data-route-schedule="{{ path('admin_class_schedule') }}" hidden></div>
			<div class="col-md-12 row">
				<div class="col-md-12 pr-0 pl-0">
					<div id="tb_classes" style="height: 800px;width:100%;" class="ag-theme-material"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block modal %}
	{# submit file modal  #}
	<div class="modal fade" tabindex="-1" id="addTeacher">
		<div class="modal-dialog modal-xl">
			<div
				class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">List teachers</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="col-md-12 pr-0 pl-0">
						<div id="tb_teachers" style="height: 600px;width:100%;" class="ag-theme-material"></div>
					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<div class="input-group-append">
						<button class="btn btn-success" id="btnOk" data-dismiss="modal" type="submit">
							Ok
						</button>
					</div>
					<button type="button" class="btn btn-danger" id="btnCancel" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<form action='/upload' method='post' enctype='multipart/form-data' id='Classes_FileUploadForm'>
		<fieldset>
			<input type='file' name='Filedata' id='Classes_File' accept='.csv,.xlsx,.xls' style='display:none;'></fieldset>
	</form>
{% endblock %}
