{% extends "@DOMJudge/Fls/Admin/base.html.twig" %}

{% block extrahead %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/Fls/Admin/admin.css') }}">
	<link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
	<script src="{{ asset("js/jquery-ui.js") }}"></script>
{% endblock %}
{% block content  %}
<div class="d-flex mr-1" id="wrapper" style="height: 101%">
    {% if cid is defined %}
        {% include '@DOMJudge/Fls/Teacher/partials/sidebar.html.twig' with {cid: cid} %}
    {% endif %}
    <div class="pl-3 h-100 w-100" id="page-content-wrapper">
		{# content #}
		<div class="d-flex flex-column col-12 px-0 h-100">
			<div class="d-flex flex-row bd-highlight mb-3">
				{% if is_granted('ROLE_ADMIN') %}
					<div class="p-2 bd-highlight">
						<button id="show_add_scheduling" data-cid="{{cid|default('')}}" type="button" class="btn btn-success">
							<i class="fas fa-plus"></i>
							<span>Add scheduling</span>
						</button>
						<button id="clear_scheduling" onclick="window.location.href = '{{path('clear_schedule',{'classId':cid|default('')})}}';" href="{{path('clear_schedule',{'classId':cid|default('')})}}" type="button" class="btn btn-success">
							<i class="fas fa-trash"></i>
							<span>Clear All</span>
						</button>
					</div>
				{% endif %}
				{# <div class="p-2 bd-highlight">
					<button type="button" id='btnImport' class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Import Class">
						<i class="fas fa-file-import"></i>
						<span>Import</span>
					</button>
				</div> #}
			</div>
			<div class="d-inline-flex sub_content h-100">
				<div id="dom_data"
					data-list-schedules="{{ listSchedules }}"
					data-route-add-schedule="{{path('add_schedule')}}"
					hidden>
				</div>
				<div class="col-md-12 row h-100">
					<div class="col-md-12 pr-0 pl-0 h-100">
						<div id="tb_schedules" style="height:{% if is_granted('ROLE_ADMIN') %} calc(80% + 50px) {% else %}80%{% endif %};width:100%;" class="ag-theme-material"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block modal %}
<div class="modal fade" tabindex="-1" id="add_scheduling">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add scheduling</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                {# data #}
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
				<button id="add_schedule" type="button" class="btn btn-success pr-3">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrafooter %}
    <script src="{{ asset("js/Fls/Admin/class_schedule.js") }}"></script>
{% endblock %}
