{% extends "@DOMJudge/Fls/Admin/base.html.twig" %}

{% block extrahead %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Fls/Admin/admin.css') }}">
    <script src="{{ asset("js/Fls/Admin/class_detail.js") }}"></script>
{% endblock %}

{% block content  %}
<div class="d-flex mr-1" id="wrapper" style="height: 101%">
    {% if cid is defined %}
        {% include '@DOMJudge/Fls/Teacher/partials/sidebar.html.twig' with {cid: cid} %}
    {% endif %}
    <div class="pl-3 h-100 w-100" id="page-content-wrapper">
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-danger" id="btn_del">
                    <a>Delete</a>
                </button>
            </div>
            <div class="p-2 bd-highlight">                
                <button class="btn btn-success" type="button"  data-toggle="modal" id="btnAdd" data-target="#add_student" aria-expanded="false">
                <span  for="customFile"></span>Add Student</button>
            </div>
            <div class="p-2 bd-highlight">                
                <button class="btn btn-success" type="button"  data-toggle="modal" id="btnAdd" data-target="#add_teacher" aria-expanded="false">
                <span  for="customFile"></span>Add Teacher</button>
            </div>
        </div>
        <div class="d-inline-flex sub_content" style="height: calc(100% - 100px)">
            <div id="dom_data" data-list-users="{{ listUsers }}" data-list-students="{{ listStudents }}" data-route-del="{{ path('admin_class_detail_del')}}" hidden></div>
            <div class="content_1_table h-100">
                <div id="tb_class_detail" style="height:100%;width:100%;" class="ag-theme-material"></div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
{% block modal %}
{# add student file modal  #}
<div class="modal fade" tabindex="-1" id="add_student">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add students</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
            <div>
                <div id="hide_data" 
                    data-cid="{{cid|default('')}}"
                    data-route-add="{{path('add_student')}}"
                    hidden></div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default" style="width:80px;font-size: medium;">Search</span>
                    </div>
                    <input data-route="{{path('search_student')}}" id="search_student" placeholder="name or username of student" class="form-control" aria-label="search Student" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
                <div class="col-md-12 pr-0 pl-0">
                    <div id="tb_students" style="height: 600px;width:100%;" class="ag-theme-material"></div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnCancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{# add teacher file modal  #}
<div class="modal fade" tabindex="-1" id="add_teacher">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Teacher</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
            <div>
                <div id="hide_data_teacher" 
                    data-cid="{{cid|default('')}}"
                    data-route-add="{{path('add_teacher')}}"
                    hidden></div>
                <div id="view_teacher_old" class="col-12 d-none pb-3">
                    <div class="pr-4">Current Teacher: <span id="teacher_old" ></span></div>
                </div>
                <div class="input-group mb-3">                    
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default" style="width:80px;font-size: medium;">Search</span>
                    </div>
                    <input data-route="{{path('search_teacher')}}" id="search_teacher" placeholder="name or teacher" class="form-control" aria-label="search Teacher" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
                <div class="col-md-12 pr-0 pl-0">
                    <div id="tb_teacher" style="height: 600px;width:100%;" class="ag-theme-material"></div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnCancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}