{% extends "@DOMJudge/Fls/Admin/base.html.twig" %}
{% import _self as self %}


{% block title %}Add class - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Add class</h1>

    {% include '@DOMJudge/Fls/Admin/partials/class_form.html.twig' %}

{% endblock %}