
{% extends '@DOMJudge/Fls/share/menu.html.twig' %}
{% block menu_item %}
    <li class="nav-item">
        <a href="{{ path('admin_index') }}" class="nav-link bg_item_menu">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            Home
        </a>
    </li>


    <li class="nav-item">
        <a href="{{ path('admin_languages') }}" class="nav-link bg_item_menu">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            Language
        </a>
    </li>


    <li class="nav-item">
        <a href="{{ path('problem_index') }}" class="nav-link bg_item_menu">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            Problem
        </a>
    </li>


    <li class="nav-item">
        <a href="{{ path('admin_users') }}" class="nav-link bg_item_menu">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            User
        </a>
    </li>


    <li class="nav-item">
        <a href="{{ path('admin_classes') }}" class="nav-link bg_item_menu">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            Class
        </a>
    </li>


    <li class="nav-item">
        <a href="{{ path('logout') }}" class="nav-link bg_item_menu">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            Logout
        </a>    
    </li>

    <!-- template menu item -->
{% endblock %}