{% extends "@DOMJudge/Fls/Admin/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/Fls/Teacher/teacher_macros.twig" as macros %}

{% block title %}Judgehost restrictions - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Judgehost restrictions</h1>

    {{ macros.table(judgehost_restrictions, table_fields, num_actions) }}

    {%- if is_granted('ROLE_ADMIN') %}
        <p>
            {{ button(path('admin_judgehost_restriction_add'), 'Add new judgehost restriction', 'primary', 'plus') }}
        </p>
    {%- endif %}

{% endblock %}
