{% extends "@DOMJudge/Fls/Admin/base.html.twig" %}

{% block extrahead %}
	<link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
	<link rel="stylesheet" href="{{ asset('css/Fls/Student/student.css') }}">
	<script src="{{ asset("js/jquery-ui.js") }}"></script>
{% endblock %}

{% block content  %}
	<div id="dom_data_route" data-route-add-room="{{ path('admin_add_room') }}"
	 data-route-edit-room="{{ path('admin_edit_room') }}"
	 data-route-roomip="{{ path('room_ip',{roomId:''}) }}" ></div>
	<div
		class="content_1 flex-column">
		<!-- admin content -->
		{%- if is_granted('ROLE_ADMIN') %}
			<div class="d-flex flex-row bd-highlight mb-0">
				<div class="p-2 bd-highlight">
					<h1>Laboratory Rooms</h1>
				</div>
			</div>
			<div class="d-flex flex-row bd-highlight mb-3">
				<div>
					<button type="button" id="btnAddSemester" class="btn btn-success" data-toggle="modal" data-target="#addLabroom" aria-expanded="false">
						<i class="fas fa-plus"></i>
						Add Room</button>
				</div>
			</div>
		{% endif %}
		<!-- list semester content -->
		{% if listLabRooms is defined %}
			<div class="col-md-12 pr-0 pl-0" style="height: 90%;">
				<div id="tb_labroom" style="height: 100%" class="ag-theme-material"></div>
			</div>
			<div id="dom_data" data-semester="{{ listLabRooms }}" data-route="{{ path('teacher_selected_class',{'className':''}) }}" data-route-starttime="{{ path('starttime') }}" data-route-import="{{ path('admin_class_import') }}" data-route-stoptime="{{ path('stoptime') }}"></div>
		{% else %}
			<div class="alert alert-danger">{{message}}</div>
		{% endif %}
	</div>
{% endblock %}
{% block modal %}
	{# add semester modal  #}
	<div class="modal fade" tabindex="-1" id="addLabroom">
		<div class="modal-dialog modal-lg">
			<div
				class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Add Room</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="form-group">
						<label for="sem-name">Room Name:</label>
						<input type="text" class="form-control" id="sem-name">
						<span class="badge badge-danger" id="name_danger_span"></span>
					</div>
                    <button type="button" id="btn_sendAjax" class="btn btn-primary">Add Room</button>
						<br>
					<span class="badge badge-success" id="add_success_span"></span>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					{# <div class="input-group-append">
						<button class="btn btn-success btnOk" id="btnOk" data-dismiss="modal" type="submit">
							Ok
						</button>
					</div> #}
					<button type="button" class="btn btn-danger btnCancel" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	{# edit semester modal  #}
	<div class="modal fade" tabindex="-1" id="editLabroom">
		<div class="modal-dialog modal-lg">
			<div
				class="modal-content">
				<input type="text" class="form-control" id="room-id" hidden>
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Edit Room Name</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="form-group">
						<label for="room-name-change">Room Name:</label>
						<span class="badge badge-success" id="old_name_span"></span>
						<input type="text" class="form-control" id="room-name-change">
						<span class="badge badge-danger" id="name_change_danger_span"></span>
					</div>	
                    <button type="button" id="btn_sendAjaxChange" class="btn btn-primary">
						Apply</button>
						<br>
					<span class="badge badge-success" id="change_success_span"></span>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					{# <div class="input-group-append">
						<button class="btn btn-success btnOk" id="btnOk" data-dismiss="modal" type="submit">
							Ok
						</button>
					</div> #}
					<button type="button" class="btn btn-danger btnCancel" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extrafooter %}
	<script src="{{ asset("js/Fls/Admin/lab_rooms.js") }}"></script>
{% endblock %}
