{% extends "@DOMJudge/Fls/Admin/base.html.twig" %}

{% block extrahead %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Fls/Admin/admin.css') }}">
{% endblock %}

{% block content  %}
    <!-- content 1 -->
    <div class="content_1 flex-column">
        <div class="d-flex flex-row bd-highlight mb-3" >
            <div class="p-2 bd-highlight">
                <b>Language:</b>
            </div>
            <div class="p-2 bd-highlight">
                Total: <span>5</span>
            </div>
            <div class="p-2 bd-highlight"  style="min-width: 300px;">
                <input type="text">
            </div>
            <div class="p-2 bd-highlight" >
                <button type="button" class="btn btn-success"> <a href="{{ path('admin_language_add') }}">Add new language</a></button>
            </div>
        </div>
        
        <div class="d-inline-flex sub_content">
            <div class="content_1_table">
                <table id="tb_problem" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID/Ext</th>
                            <th scope="col">External ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Entry point</th>
                            <th scope="col">Allow submit</th>
                            <th scope="col">Allow judge</th>
                             <th scope="col">Time factor</th>
                             <th scope="col">Extensions</th>
                        </tr>
                    </thead>
                    <tbody>
                         {%- for row in languages %}
                                             
                            <tr class="{{ row.cssclass|default('') }}" {%- if row.style is defined %} style="{{ row.style }}" {% endif %}>
                                {%- for key,column in table_fields %}
                                    {%- set item = attribute(row.data, key) %}

                                    <td class="{{ item.cssclass|default('') }}{% if key == "status" %} {{ item.value|statusClass() }}{% endif %}" {%- if item.title is defined %} title="{{ item.title }}" {% endif %} {%- if item.sortvalue is defined %} data-sort="{{ item.sortvalue }}" {% endif %}>
                                        {%- if item.link is defined %}
                                            <a href="{{ item.link }}">
                                            {%- elseif row.link is defined %}
                                                <a href="{{ row.link }}">
                                                {% endif %}
                                                {% if key == "status" %}
                                                    {{- (item.value|default(item.default|default('')))|statusIcon()|raw -}}
                                                {% else %}
                                                    {{- (item.value|default(item.default|default('')))|raw -}}
                                                {% endif %}
                                                {%- if item.link is defined or row.link is defined -%}
                                                </a>
                                            {% endif %}
                                        </td>
                                    {%- endfor %}
                                    {%- for action in row.actions %}

                                        <td>
                                            {%- if action %}

                                                <a href="{{ action.link }}" title="{{ action.title }}" {% if action.ajaxModal is defined and action.ajaxModal %} data-ajax-modal {% endif %}>
                                                    <i class="fas fa-{{ action.icon }}"></i>
                                                </a>
                                            {%- endif %}

                                        </td>
                                    {%- endfor %}

                                </tr>
                            {%- endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}