{% extends "@DOMJudge/Fls/Admin/base.html.twig" %}

{% block extrahead %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Fls/Admin/admin.css') }}">
{% endblock %}

{% block content  %}
    <!-- content 1 -->
    <div class="content_1 flex-column">
        <div class="d-flex flex-row bd-highlight mb-3" >
            <div class="p-2 bd-highlight">
                <b>Problem:</b>
            </div>
            <div class="p-2 bd-highlight">
                Total problem : <span>5</span>
            </div>
            <div class="p-2 bd-highlight"  style="min-width: 300px;">
               <input type="text">
            </div>
            <div class="p-2 bd-highlight" >
                 <button type="button" class="btn btn-success"> <a href="{{ path('add_problem_index') }}">Add new problem</a></button>
            </div>
        </div>
        
        <div class="d-inline-flex sub_content">
            <div class="content_1_table">
                <table id="tb_problem" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">External ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">#Contest</th>
                            <th scope="col">Time litmit</th>
                            <th scope="col">Memory litmit</th>
                            <th scope="col">Output litmit</th>
                            <th scope="col">Test case</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>P-0001</td>
                            <td>Hello world</td>
                            <td>100</td>
                            <td>100</td>
                            <td>2GB</td>
                            <td>20MB</td>
                            <td>37</td>
                            <td>
                                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                                <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>P-0001</td>
                            <td>Hello world</td>
                            <td>100</td>
                            <td>100</td>
                            <td>2GB</td>
                            <td>20MB</td>
                            <td>37</td>
                            <td>
                                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                                <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>P-0001</td>
                            <td>Hello world</td>
                            <td>100</td>
                            <td>100</td>
                            <td>2GB</td>
                            <td>20MB</td>
                            <td>37</td>
                            <td>
                                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                                <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>P-0001</td>
                            <td>Hello world</td>
                            <td>100</td>
                            <td>100</td>
                            <td>2GB</td>
                            <td>20MB</td>
                            <td>37</td>
                            <td>
                                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                                <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>P-0001</td>
                            <td>Hello world</td>
                            <td>100</td>
                            <td>100</td>
                            <td>2GB</td>
                            <td>20MB</td>
                            <td>37</td>
                            <td>
                                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                                <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}