{% extends "@DOMJudge/Fls/Admin/base.html.twig" %}

{% block extrahead %}
	<link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
	<link rel="stylesheet" href="{{ asset('css/Fls/Student/student.css') }}">
	<script src="{{ asset("js/jquery-ui.js") }}"></script>
{% endblock %}

{% block content  %}
	<div id="dom_data_route" 
		data-route-add-room-ip="{{ path('admin_add_room_ip') }}"
	 	data-route-edit-room-ip="{{ path('admin_edit_room_ip') }}">
	</div>
	<div class="content_1 flex-column">
		<!-- admin content -->
		{% if room is defined %}
			{% if is_granted('ROLE_ADMIN') %}
				<div class="d-flex flex-row bd-highlight mb-0">
					<div class="p-2 bd-highlight">
						<h1>Positions in room {{room.roomname}}</h1>
					</div>
				</div>
				<div class="d-flex flex-row bd-highlight mb-3">
					<div>
						<button type="button" id="btnAddPositions" class="btn btn-success" data-toggle="modal" data-target="#addPositions" aria-expanded="false">
							<i class="fas fa-plus"></i>
							Add positions</button>
					</div>
				</div>
			{% endif %}
			<!-- list semester content -->
			{% if listRoomIp is defined %}
				<div class="col-md-12 pr-0 pl-0" style="height: 90%;">
					<div id="tb_room_ip" style="height: 100%" class="ag-theme-material"></div>
				</div>
				<div id="dom_data" data-roomip="{{ listRoomIp }}"></div>
			{% else %}
				<div class="alert alert-danger">{{message}}</div>
			{% endif %}
		{% else %}
			<div class="alert alert-danger">{{message}}</div>
		{% endif %}
		
		
	</div>
{% endblock %}
{% block modal %}
	{# add semester modal  #}
	<div class="modal fade" tabindex="-1" id="addPositions">
		<div class="modal-dialog modal-lg">
			<div
				class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Add New Positions</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="form-group mb-3">
						<label id="room_name">Room: {{room is defined ? room.roomname:'' }}</label>
					</div>
					<div class="col-12 px-0">
						<input type="text" id="roomid" value="{{room is defined ? room.roomid:'' }}" hidden>
						<span class="badge badge-danger" id="ipAddress_error"></span>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">Ip address</span>
							</div>
							<input type="text" id="ipAddress" class="form-control" placeholder="ip address" aria-label="ip address" aria-describedby="basic-addon1">
						</div>
						<span class="badge badge-danger" id="pcCode_error"></span>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">PC code</span>
							</div>
							<input type="text" id="pcCode" class="form-control" placeholder="pc-code" aria-label="pc-code" aria-describedby="basic-addon1">
						</div>
						
					</div>
                    <button type="button" id="btn_sendAjax" class="btn btn-primary">
						Add positions</button>
						<br>
					<span class="badge badge-success" id="add_success_span"></span>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger btnCancel" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	{# edit semester modal  #}
	<div class="modal fade" tabindex="-1" id="editLabroom">
		<div class="modal-dialog modal-lg">
			<div
				class="modal-content">
				<input type="text" class="form-control" id="room-id" hidden>
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Edit Room Name</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="form-group mb-3">
						<label id="room_name">Room: {{room is defined ? room.roomname:'' }}</label>
					</div>
					<div class="col-12 px-0">
						<input type="text" id="roomid1" value="{{room is defined ? room.roomid:'' }}" hidden>
						<input type="text" id="ipid" value="" hidden>
						<span class="badge badge-danger" id="ipAddress_error1"></span>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">Ip address</span>
							</div>
							<input type="text" id="ipAddress1" class="form-control" placeholder="ip address" aria-label="ip address" aria-describedby="basic-addon1">
						</div>
						<span class="badge badge-danger" id="pcCode_error1"></span>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">PC code</span>
							</div>
							<input type="text" id="pcCode1" class="form-control" placeholder="pc-code" aria-label="pc-code" aria-describedby="basic-addon1">
						</div>
						
					</div>
                    <button type="button" id="btn_sendAjaxChange" class="btn btn-primary">
						Apply</button>
						<br>
					<span class="badge badge-success" id="change_success_span"></span>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					{# <div class="input-group-append">
						<button type="button" id="btn_sendAjaxChange" class="btn btn-primary">Apply</button>						
					</div> #}
					<button type="button" class="btn btn-danger btnCancel" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extrafooter %}
	<script src="{{ asset("js/Fls/Admin/room_ip.js") }}"></script>
{% endblock %}
