{% extends "@DOMJudge/Fls/Admin/base.html.twig" %}
{% import _self as self %}


{% block title %}Add user - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Add user</h1>

    {% include '@DOMJudge/Fls/Admin/partials/user_form.html.twig' %}

{% endblock %}
