{% extends "@DOMJudge/Fls/Admin/base.html.twig" %}
{% import _self as self %}
{% block extrahead %}
	<link rel="stylesheet" href="{{ asset('css/Fls/Admin/admin.css') }}">
	<script src="{{ asset("js/Fls/Admin/users.js") }}"></script>
{% endblock %}
{% block content  %}
	<!-- content 1 -->
	<div class="content_1 flex-column">
		<div class="d-flex flex-row bd-highlight mb-3">
			<div class="p-2 bd-highlight">
				<h1>Users management</h1>
			</div>
		</div>
		<div class="d-flex flex-row bd-highlight mb-3">

			<div class="p-3 bd-highlight">
            	<a href="{{ path('admin_user_add') }}">
				<button type="button" class="btn btn-outline-success">
						<i class="fas fa-plus"></i>
						Add new user
				</button>
                </a>
			</div>
			<div class="p-3 bd-highlight">
				<button type="button" class="btn btn-outline-success" id="import_users">
					<i class="fas fa-file-import"></i>
					Import Students
				</button>
			</div>
			<div class="p-3 bd-highlight ">
				Page Size:
				<select onchange="onPageSizeChanged()" id="page-size">
					<option value="50">50</option>
					<option value="500">500</option>
					<option value="1000">1000</option>
				</select>
			</div>
		</div>
		<div class="d-flex flex-row bd-highlight col-md-2 mb-3 form-group">
			<input type="text" class="form-control" type="text" id="filter-text-box" placeholder="Filter..." oninput="onFilterTextBoxChanged()"/>
		</div>
		<div class="d-inline-flex sub_content">
			<div id="dom_data" data-list-users="{{ listUsers }}" data-route-detail="{{ path('admin_user_detail',{'userId':''}) }}" data-route-import="{{ path('admin_user_import') }}" hidden></div>
			<div class="content_1_table">
				<div id="tb_users" style="height: 650px;width:100%;" class="ag-theme-material"></div>

			</div>

		</div>
	</div>
	<form action='/upload' method='post' enctype='multipart/form-data' id='Users_FileUploadForm'>
		<fieldset>
			<input type='file' name='Filedata' id='Users_File' accept='.csv,.xlsx,.xls' style='display:none;'>
		</fieldset>
	</form>
{% endblock %}
