.content_1 {
    margin: 10px 0;
    height: 100%;
    width: 100%;
}

.sub_head_top {
    width: 100%;
    height: 40px;
}

.sub_head_botton {
    width: 100%;
    height: calc(100% - 40px);
}

.content_problem {
    margin: auto;
    width: 65%;
    min-width: 450px;
    height: 100%;
}

.view_problem {
    width: 100%;
    padding-bottom: 1rem;
    height: 100%;
    min-height: 30rem;
}

.content_right {
    margin: 10px 0 0 10px;
    width: 35%;
    height: 100%;
}

.content_right_sub {
    height: 30%;
    width: 100%;
    min-width: 450px;
    border: 1px solid black;
}

.list_test {
    width: 100%;
}

.info_test {
    width: 100%;
    padding-bottom: 10px;
}

.info_test div {
    padding: 5px 15px;
    height: 25px;
}

.test_status_sub {
    height: 30px;
    width: 100%;
}

.test_status_sub .progress {
    padding-left: 0 !important
}

.qa_title {
    height: 30px;
}

.qa_content {
    margin-top: 20px;
    height: 40% !important;
}

.submition {
    height: 20% !important;
    margin-top: 20px;
}

.qa_content_view {
    margin: 10px 10px 0 10px;
    border-radius: 10px 10px 0 0;
    border-bottom: none !important;
    height: 70%;
    width: calc(100% - 20px);
    scroll-behavior: auto;
}

.qa_content_input {
    margin: 0 10px 0 10px;
}

.view_content {
    margin: 10px 0 10px 10px;
}

.message {
    display: block;
    width: calc(100% - 10px);
}

.message .message_bg_right {
    max-width: 96%;
    padding: 5px;
    border-radius: 15px 15px 0 15px;
    display: block;
}
.message_text{
    padding: 5px 10px;
    min-height: 35px;
    white-space: pre-wrap;
    word-wrap: break-word;/* Internet Explorer 5.5+ */
}

pre {
	box-sizing: border-box;
	width: 100%;
	padding: 3px 0 0 0;
	margin: 0;
	overflow: hidden;
	overflow-y: hidden;
    color: #333;
    white-space: pre-wrap;
}

.message_bg_right>.message_text{
    background-color: #42a5f5;
    border-radius: 15px 15px 0 15px;
}

.message .message_bg_left {
    max-width: 96%;
    border-radius: 15px 15px 15px 0;
    padding: 5px;
    display: block;
}

.message_bg_left>.message_text{
    background-color: #e9ebee;
    border-radius: 15px 15px 15px 0;
}

.message .message_time {
    font-size: 12px;
}

.message .message_bg_right .message_time {
    font-size: 12px;
    margin-top: 5px;
}

.scrollbar {
    padding-right: 5px;
    margin-top: 10px;
    width: 100%;
    bottom: 0;
    overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
    padding-right: 10px;
    width: 0px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: #F5F5F5;
}
@media (max-width: 992px) {
    .content_row{
        height: 640px !important;
    }
}

.btn_download {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}

.last_file_submit {
    border: 1px solid #ced4da;
}

.custom-file-label::after {
    content: none !important;
}

.grid-cell-centered {
    text-align: center;
}