.content_1 {
    margin: 10px 0;
    height: 50%;
    width: 100%;
}

.content_2 {
    margin: 10px 0;
    height: 50%;
    width: 100%;
}

.sub_head {
    padding-top: 15px;
    height: 40px;
    display: inline-block;
    width: 100%;
}

.sub_head_item {
    width: 10%;
    min-width: 100px;
    display: block;
    float: left;
}

.sub_content {
    width: 100%;
    height: 90%;
}

.content_1_table {
    display: block;
    width: calc(100%);
}

.chart {
    /* position: relative; */
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.ag-header-cell-label {
    justify-content: center;
}

.ag-row .ag-cell {
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
}