{% extends "@DOMJudge/Fls/Student/base.html.twig" %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ asset('css/Fls/Student/detailProblem.css') }}">
{% endblock %}

{% block content  %}
    {% if class_enabled is defined and class_enabled %}
    <div id="dom_data" 
        data-test="{{ (listTest is defined) ? listTest:[] }}"
        data-route-detail-test="{{ path('detail_test',{judgingId:'',testId:''}) }}"
        data-route-change-problem="{{ path('request_change_problem') }}"
        data-problem-id="{{ (problem is defined) ? problem.probid:'' }}"
        data-timeGetAsks="{{ timeGetAsks }}"
        data-userProblemID="{{ userProblemID }}"
        data-sendAskRoute="{{ path('student_ask_send') }}"
        hidden>
    </div>
    <!-- view problem -->
    <div class="col-lg-12 col-md-12 row pr-2 pl-2 ml-0 ">
        <div class="pl-3 col-md-6 col-sm-12 pl-0 pr-0 pb-4">
            <h3>
                <a class="text-dark" href="{{path('problem_text',{probId: problem.probid})}}" target="_blank">
                    <b>{{ problem != null ? problem.shortname:'' }} - {{ problem != null ? problem.name:'' }}</b>
                </a>
            </h3>
            {% if problem.tid is not null %}
            <div class="col-md-4 col-sm-12 pl-4">
                {% for item in problem.tid %}
                <span class="text-info pr-2">{{ item.name != '' ? '#':''}}{{item.name}}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-12 pr-0 pl-0 row ml-0">
                <div class="pr-1 pl-0 row ml-0">
                    <span class="pr-3">Loc: {{ problem.points }}</span>
                    <span class="pr-3">Difficulty: {{ problem.difficult != '' ? problem.difficult : '1' }}</span>
                </div>
                <div class="pr-0 pl-3">
                    <a href="{{path('problem_text',{probId: problem.probid})}}" target="_blank">
                        <h5>
                            <i class="far fa-file-pdf"></i> View Problem  
                        </h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 pl-0 pr-0">
            <div class="col-12 pr-0 pl-0" >
                {% if changeStatus is defined and changeStatus is null and allowSubmit is defined and allowSubmit %}
                    <button id="btn_reuqest_change" type="button" class="btn btn-success float-right">Request Change</button>
                {% else %}
                    <p id="change_status" class="float-right"> {{ (allowSubmit is defined and allowSubmit) ? 'Change status:':''}} {{ changeStatus }}</p>
                {% endif %}
            </div>
            <!-- submition -->                    
            <div class="col-12 pr-0 pl-0 pt-3 mb-3 row ml-0">
                <div class="col-12 pr-2 pl-2 ml-0 row d-flex justify-content-end">
                    {% if allowSubmit is defined and allowSubmit %}
                    <div id="submit_file" class="pl-0 pr-3 pt-2">
                        <div class="pr-0 pl-0 d-flex align-items-center">  
                            <div class="row m-0">
                                {# <div class="pt-2"> Source:</div> #}
                                <button class="btn btn-success ml-3" type="button" id="button-addon5" data-toggle="modal" data-target="#submit-file" aria-expanded="false">
                                    <i class="fa fa-upload" for="customFile"></i> Submit
                                </button>
                            </div>
                        </div>                                          
                    </div>
                    {% endif %}
                    <div class="col-lg-5 col-md-12 pl-0 pt-2 ">
                        <div id="dowload_submit_file" class="input-group">
                            {% if submission is defined and submission is not null and fileName is defined %}
                                {% if allowDowload is defined and allowDowload %}
                                    <input type="text" class="form-control" placeholder="{{ fileName }}" aria-label="" aria-describedby="button-addon2" disabled>
                                {% endif %}
                            {% else %}
                                <input type="text" class="form-control" placeholder="No submission file" aria-label="" aria-describedby="button-addon2" disabled>
                            {% endif %}
                            <div class="input-group-append">
                                {% if submission is defined and submission is not null %}
                                    {% if allowDowload is defined and allowDowload %}
                                        <a id="download_submission" href="{{ path('download_submission', {submitId: submission.submitid}) }}">
                                            <button class="btn btn-success" type="button" id="bt_download">
                                                <i class="fa fa-download" for="customFile"></i>
                                                Download
                                            </button>
                                        </a>
                                    {% endif %}
                                {% else %}
                                <button class="btn btn-success disabled" type="button" id="bt_download">
                                    <i class="fa fa-download" for="customFile"></i>
                                    Download
                                </button>
                                {% endif %}                         
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 row pr-0 pl-0 ml-0 mb-4 content_row" style="height: 300px;">
        <!-- test status -->
        <div class="col-lg-7 col-md-12 pr-2 pl-2 pt-0 pb-4">            
            <div class="card shadow mb-3" style="height: 300px;">    
                <div class="col-12 pr-0 pl-0 h-100">
                    <div class="test_status_sub d-flex border-bottom border-dark">
                        <div class="col-lg-5 d-flex align-items-center">
                            <b>Test status</b>
                        </div>
                        <div class="d-flex flex-row-reverse align-items-center col-sm-7">
                            <div class="progress col-10 pr-0 pl-0">
                                <div id="progress_test" class="progress-bar progress-bar-striped progress-bar-animated" 
                                    role="progressbar" 
                                    aria-valuenow="{{ (testInfo is defined) ? testInfo.done:0 }}" 
                                    aria-valuemin="0" 
                                    aria-valuemax="{{ (testInfo is defined) ? testInfo.total:0 }}"
                                    style="width:{% if testInfo is defined and testInfo.total != 0 %}{{(testInfo.done / testInfo.total) * 100}}%{% endif %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pl-2 pr-2 pt-2">
                        <div class="col-auto">
                            Success: <span id="test_success">{{ (testInfo is defined) ? testInfo.done:0}}/{{(testInfo is defined) ? testInfo.total:0 }}</span>
                        </div>
                        <div class="col-auto">
                            Execute test: <span id="test_execute">{{ (testInfo is defined) ? testInfo.do:0}}/{{(testInfo is defined) ? testInfo.total:0  }}</span>
                        </div>
                    </div>
                    <div class="col-12 pl-2 pr-2 pt-2 d-flex" style="min-height:50px; height: calc(100% - 56px)">
                        <div id="tb_test" style="height: inherit;width:100%" class="ag-theme-material"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-5 col-md-12 pr-2 pl-2 pt-0 pb-4">
            <!-- Q&A -->
            <div class="card shadow mb-3" style="height: 300px;">
                <div class="col-12 d-flex flex-column pr-0 pl-0 mb-2" style="height: 300px;">
                    <div class="qa_title w-100 d-flex border-bottom border-dark">
                        <div class="col-lg-5 d-flex align-items-center" style="height: 30px;">
                            <b>Q&A</b>
                        </div>
                    </div>
                    <div class="col-12 h-100 pl-2 mt-0 pb-4 pr-2 scrollbar bg-light" style="max-height:calc(100% - 72px)">
                        <div class="scrollbarTest bg-light status scrollbar_sub">
                            <div class="col-12 pr-2 pl-2 mt-2 d-flex flex-column align-items-end h-100" id="ask_message_box">
                                {% if asks is not null %}                                    
                                    {% for ask in asks %}
                                        {% if ask.sender == curUsername %}
                                            <!-- template message right -->
                                            <div class="m-1 message">
                                                <div class="message_bg_right float-right align-items-center">
                                                    <div class="message_text"><pre>{{ask.body}}</pre></div>
                                                    <span class="align-bottom message_time float-right">{{ask.submittime | printtime('%Y-%m-%d %H:%M:%S') }}</span>
                                                </div>
                                            </div>                                                
                                        {% else %}
                                            <!-- templateTest status message left -->
                                            <div class="m-1 message">
                                                <div class="message_bg_left float-left align-items-center">
                                                    <div class="message_text"><pre>{{ask.body}}</pre></div>
                                                    <span class="align-bottom message_time">{{ask.submittime | printtime('%Y-%m-%d %H:%M:%S') }}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <!-- template message right -->
                                <div class="m-1 message">
                                    <div class="message_bg_left float-left align-items-center">
                                        <div class="message_text">type something to ask Teacher...</div>
                                        <span class="align-bottom message_time"></span>
                                    </div>
                                </div>                                  
                            {% endif %}
                                
                            </div>
                        </div>
                    </div>
                    <div class="w-100 pr-2 pl-2 mr-0 align-self-end qa_content_input bg-light">
                        <div class="input-group bg-light">
                            <input type="text" id="askbox" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2"/>
                            <div class="input-group-append">
                                <button class="btn btn-success" type="button" id="sendAskButton" onclick="sendNewAsk()"><i class="fas fa-envelope pr-1"></i>Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 pr-2 pl-2" style="min-height:25%">
        <div class="card shadow mb-3 h-100 w-100">
            <div class="p-2">
                <h4 >Special requirements</h4>
                {# requirements of class #}
                {% if requirementClass is defined and requirementClass is not null %}
                    <div class="col-12">
                        <b>Requirements of class:</b>
                        <div class="col-12 pr-0">
                            <pre>{{requirementClass}}</pre>
                        </div>                        
                    </div>
                {% endif %}
                {% if requirementStudent is defined and requirementStudent is not null %}
                    {# your requirements #}
                    <div class="col-12">
                        <b>Requirements for you:</br></b>
                        <div class="col-12 pr-0">
                            <pre>{{requirementStudent}}</pre>
                        </div> 
                    </div>
                {% endif %}
                {% if (requirementClass is not defined and requirementStudent is not defined) or
                    ( requirementClass is defined and requirementClass is null and
                    requirementStudent is defined and requirementStudent is null) %}
                    <p>Your problem no have requirements!</p>
                {% endif %}
                
            </div>
        </div>
    </div>
    {% else %}
        <a href="{{ path('exit_class') }}">  Choose other class! </a>
    {% endif %}
{% endblock %}
{% block modal %}
{# submit file modal  #}
<div class="modal fade" tabindex="-1" id="submit-file">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Submit source</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            {% if formSubmit is defined %}            
            {{ form_start(formSubmit) }}
            <!-- Modal body -->
            <div class="modal-body">
                <p>Language: {{ language }}</p>
                <p>Problem: {{ problem.name }}</p>
                {{ form_widget(formSubmit) }}
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">
                        upload
                    </button>
                </div>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            {{ form_end(formSubmit) }}
            {% endif %}
        </div>
    </div>
</div>
{# end submit file modal  #}
{# Test case detail #}
<div class="modal fade" tabindex="-1" id="detail_test">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Test Detail</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                {# data #}
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrafooter %}
    <script src="{{ asset("js/Fls/Student/detailProblem.js") }}"></script>
{% endblock %}