{% extends "@DOMJudge/Fls/Student/base.html.twig" %}


{% block title %}{{ title|default('Fls-Student') }}{% endblock %}

{% block extrahead %} 
    <link rel="stylesheet" href="{{ asset('css/Fls/Student/student.css') }}">
    <link rel="stylesheet" href="{{ asset('lib/Chart.min.css') }}">
    <script src="{{ asset("lib/Chart.min.js") }}"></script>
    <script src="{{ asset("js/Fls/Student/lodash.min.js") }}"></script>
    
{% endblock %}

{% block content  %}
    <!-- content 1 -->
<div class="col-12 pr-2 pl-2 h-100">
    {% if class_enabled is defined and class_enabled %}
        {% if problems is defined and problems|length > 2 %}
            <div class="card shadow mb-3">
                <div class="pl-2 pt-2">
                    <h4><b>Problems</b></h4>
                </div>
                <div class="d-inline-flex h-50 w-100">
                    <div id="dom_data" 
                            data-problem ="{{ (problems is defined) ? problems:[] }}"
                            data-submitted ="{{ (submitted is defined) ? submitted:[] }}"
                            data-charts = "{{ (charts is defined) ? charts:[] }}"
                            data-route-detail = "{{ path('detail_problem',{'problemId':''}) }}"
                            data-route-submitted = "{{ path('detail_submission',{'submitId':''}) }}"
                            hidden></div>
                    <div class="col-md-9 pr-0 pl-0">
                        <div id="tb_problem" style="height: 100%" class="ag-theme-material pb-3 pl-2"></div>
                    </div>
                    <div class="col-md-3 pr-0 pl-0">
                        <div class="chart">
                            <canvas id="myChart" width="100%" height="75%"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-3 h-50">
                <div class="pl-2 pt-2">
                    <h4><b>Submissions</b></h4>
                </div>
                <div class="d-inline-flex h-100 w-100">
                    <div class="col-12 pr-0 pl-0">
                        <div id="tb_submitted" style="height: 100%;width:100%" class="ag-theme-material pl-2 pr-2"></div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Class is not ready! please contact with mentor!</p> 
            Or <a href="{{ path('exit_class') }}"> Choose other class! </a>
        {% endif %}
    {% else %}
        <a href="{{ path('exit_class') }}"> Choose other class! </a>
    {% endif %}            
</div>
    {# <!-- congtent 2 -->
    <div class="content_2 flex-column">
        
    </div> #}
{% endblock %}
{% block modal %}
{# submit detail modal  #}
<div class="modal fade" tabindex="-1" id="detail_submit">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Submission detail</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                {# data #}
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{# end submit detail modal  #}
{% endblock %}
{% block extrafooter %}
    <script src="{{ asset("js/Fls/Student/student.js") }}"></script>
{% endblock %}
