{% extends '@DOMJudge/Fls/share/menu.html.twig' %}
{% set baseRoute = 'student_index' %}

{% block menu_item %}
    <li class="nav-item" hidden>
        <div class="collapse navbar-collapse" id="studentAjaxRoute" data-update-url="{{ path('student_ajax_updates') }}"></div>
        <div class="collapse navbar-collapse" id="sendAskRoute" data-update-url="{{ path('student_ask_send') }}"></div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('student_index') }}">
            <i class="fas fa-home"></i> 
            Home 
            <span class="badge badge-info" id="num-alerts-clarifications"></span>
        </a>
    </li>

    {% if hideScore is not defined %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('student_scoreboard') }}">
            <i class="fas fa-list-ol"></i>
            Scoreboard 
            <span class="badge badge-info" id="num-alerts-clarifications"></span>
        </a>
    </li>
    {% endif %}

    {% if moreClass is defined and moreClass %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('exit_class') }}">
            <i class="fas fa-sign-out-alt fa-fw"></i>
            Exit Class 
            <span class="badge badge-info" id="num-alerts-clarifications"></span>
        </a>
    </li>
    {% endif %}

    <li class="nav-item">
        <a class="nav-link blink_me" href="https://forms.gle/9XujjeDqJwZXe6b58" target="_blank">
            <i class="far fa-thumbs-up"></i>
            Survey 
            <span class="badge badge-info" id="num-alerts-clarifications"></span>
        </a>
    </li>

{% endblock %}

{% block right_item %}
    <li class="nav-item">
        <div id="freetime" class="text-success blink_me d-none pt-2 pr-4"><b>FREETIME</b> </div>
        <div data-route="{{ path('get_time_slot') }}" class="d-none text-light pt-2 px-2"  id="countdown_timer" ></div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> {{ app.user.getUsername() }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if app.user and app.user.getName() %}
                <a class="dropdown-item disabled" href="#">{{ app.user.getName() }}</a>
            {% endif %}

            <a class="dropdown-item d-none" href="#" id="notify_disable">
                <i class="fas fa-bell-slash fa-fw"></i> Disable Notifications
            </a>
            <a class="dropdown-item d-none" href="#" id="notify_enable">
                <i class="fas fa-bell fa-fw"></i> Enable Notifications
            </a>

            {% if refresh is defined and refresh %}
            <a class="dropdown-item" href="#" id="refresh-navitem">
                <i class="fas fa-sync-alt fa-fw"></i> 
                <span id="refresh-toggle">
                {% if refresh_flag %}
                    Disable Refresh
                {% else %}
                    Enable Refresh
                {% endif %}
                </span>
                {% if refresh %}
                    <span class="small text-muted">({{ refresh.after }}s)</span>
                {% endif %}
            </a>
            {% endif %}

            <a class="dropdown-item" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt fa-fw"></i>Logout </a>
        </div>
    </li>
{% endblock %}
