{% extends "@DOMJudge/Fls/Student/base.html.twig" %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ asset('css/Fls/Student/scoreboard.css') }}">
    <link rel="stylesheet" href="{{ asset('lib/Chart.min.css') }}">
    <script src="{{ asset("lib/Chart.min.js") }}"></script>   
{% endblock %}

{% block content %}
    <div id="view_chart" class="col-12 h-50 w-100">
        <div class="col-12 w-100">
            <div class="mr-auto ml-auto" style="width:170px">
                <b>Submission time line</b>
            </div>
            <br>
            <div class="chart_title d-none mr-auto ml-auto" style="width:200px">
                No submistion accepted!
            </div>
        </div>
        <div class="chart h-75 w-50 mr-auto ml-auto">
            <canvas class="w-100 h-100" id="submitChart"></canvas>
        </div>
    </div>
    <div class="col-12 pr-0 pl-0 h-75">
        <div class="col-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="selectClass">Class</label>
                </div>
                <select class="custom-select" id="selectClass">
                    {% for class in listClass %}
                        {% if currentCid ==  class.id%}
                            <option value="{{class.id}}" selected>{{class.name}}</option>
                        {% else %}
                            <option value="{{class.id}}">{{class.name}}</option>
                        {% endif %}                            
                        
                    {% endfor %}
                </select>
            </div>
        </div>
            <div id="dom_data" 
                data-score ="{{ (listScore is defined) ? listScore:[] }}"
                data-route-detail-score = "{{ path('scoreboard_detail') }}"
                data-route-fill = "{{ path('fill_scoreboard',{'classID':''}) }}"
                data-route-charts = "{{ path('chart_submit') }}"
                hidden></div>
        <div id="tb_score_board" style="height: 100%" class="ag-theme-material"></div>
    </div>
{% endblock %}
{% block modal %}
{# socreboard detail modal  #}
<div class="modal fade" tabindex="-1" id="detail_score">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title mr-auto ml-auto">Detail student</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                {# data #}
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{# end socreboard detail modal  #}
{% endblock %}
{% block extrafooter %}
    <script src="{{ asset("js/Fls/Student/scoreboard.js") }}"></script>
{% endblock %}