{% if info is not defined %}
    <div> Error <div>
{% else %}
    <div class="col-12">
        <div>
            {{ student.name }}
        </div>
        <br>
        <div>
            Total problems: {{ info.total }}
        </div>
        <div>
            Pass: {{ info.pass }}
        </div>
        <div>
            Reject: {{ info.reject }}
        </div>
        <div>
            Changed: {{ info.changed }}
        </div>
        <div>
            Total submission: {{ info.changed }}
        </div>
    </div>
{% endif %}
