{% extends "@DOMJudge/Fls/Student/base.html.twig" %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ asset('css/Fls/Student/student.css') }}">
{% endblock %}

{% block content  %}
    <p>Please choose one class to start!</p>
    <div class="col-md-12 pr-0 pl-0" style="height: inherit;">
        <div id="tb_class" style="height: 100%" class="ag-theme-material"></div>
    </div>    
    <div id="dom_data" 
        data-problem ="{{ (listClass is defined) ? listClass:[] }}" 
        data-route = "{{ path('selected_class',{'className':''}) }}"
        hidden></div>
{% endblock %}

{% block extrafooter %}
    <script src="{{ asset("js/Fls/Student/selectClass.js") }}"></script>
{% endblock %}