.content_1 {
    margin: 10px 0;
    height: 50%;
    width: 100%;
}

.content_2 {
    margin: 10px 0;
    height: 50%;
    width: 100%;
}

.sub_head {
    padding-top: 15px;
    height: 40px;
    display: inline-block;
    width: 100%;
}

.sub_head_item {
    width: 10%;
    min-width: 100px;
    display: block;
    float: left;
}

.sub_content {
    width: 100%;
}

.content_1_table {
    display: block;
    width: calc(100%);
}

.content_1_chart {
    display: block;
    top: 0;
    width: 300px;
}

.chart {
    border: 2px solid #000000;
    border-radius: 135px;
    width: 250px;
    height: 250px;
    margin: 0 10px 0 40px
}
a {
    color: rgb(237, 240, 243);
    text-decoration: none;
}

a:hover 
{
     color: rgb(237, 240, 243);
     text-decoration:none; 
     cursor:pointer;  
}