<!DOCTYPE html>
<html lang="en">
<head>
    <!-- DOMjudge version {{ DOMJUDGE_VERSION }} sftb-->
    <meta charset="{{ DJ_CHARACTER_SET }}">
    <title>{% block title %}FLS{% endblock %}</title>
    <link rel="icon" href="{{ asset('fls-favicon.png') }}">
    {# <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> #}
    <!-- CSS lib -->
    <link rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/fontawesome-all.min.css") }}">
    <link rel="stylesheet" href="{{ asset("lib/ag-grid.css") }}">
    <link rel="stylesheet" href="{{ asset("lib/ag-theme-material.css") }}">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset("css/Fls/share/layout.css") }}">
    <link rel="stylesheet" href="{{ asset("css/Fls/share/menu.css") }}">
    <!-- JS lib -->
    <script src="{{ asset("js/jquery.min.js") }}"></script>
    <script src="{{ asset("js/bootstrap.bundle.min.js") }}"></script>
    <script src="{{ asset("lib/ag-grid-community.min.noStyle.js") }}"></script>
    <script src="{{ asset("lib/sweetalert.min.js") }}"></script>
    <!-- JS -->
    <script src="{{ asset("js/domjudge.js") }}"></script>
    <script src="{{ asset("js/Fls/share/constant.js") }}"></script>
    <script src="{{ asset("js/Fls/share/fls_core.js") }}"></script>
    {% block extrahead %}
        <link rel="stylesheet" href="{{ asset('style_domjudge.css') }}">
        {{ extrahead|default('') }}
    {% endblock %}
</head>
<body>
{% block menu %}{% endblock %}
{% block body %}
    <div class="container-fluid main-content" style="padding-top: 4.5rem;height: calc(100vh - 2.5rem)">
        <div class="row h-100">
            <div class="main_content col-12 h-100">
                {% block messages %}
                    {% include '@DOMJudge/partials/messages.html.twig' %}
                {% endblock %}
                {% block content %}
                    {# {{ body|raw }} #}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

<script>
    var domjudge_base_url = "{{ app.request.getBaseURL() }}";
    $(function () {
        $('body').on('change', '.custom-file-input', function () {
            var files = this.files;
            var fileNames = [];
            for (var i = 0; i < files.length; i++) {
                fileNames.push(files.item(i).name);
            }
            $(this).next('.custom-file-label').html(fileNames.join(", "));
            $(this).next('.custom-file-label').removeClass('text-muted');
        });

        /* toggle refresh if set */
        {% if refresh is defined and refresh %}
        $('#refresh-navitem').on('click', function () {
            let refreshUrl = '{{ refresh.url }}';
            toggleRefresh(refreshUrl, {{ refresh.after }}, {{ refresh.ajax | default(0) }});
        });
        {% endif %}
        /* Enable page refresh if set if wanted by the page, and wanted by the user */
        {% if refresh is defined and refresh and refresh_flag %}
            let refreshUrl = '{{ refresh.url }}';
            enableRefresh(refreshUrl, {{ refresh.after }}, {{ refresh.ajax | default(0) }});
        {% endif %}

        initializeAjaxModals();
    });
</script>
{% block footer %}{% endblock %}
{% block modal %}
    {# add modal #}
{% endblock %}
{% block extrafooter %}{% endblock %}
</body>
</html>
