<div class="modal fade fls_confirm_modal" id="{{modalID|default('')}}" 
    tabindex="-1" role="dialog" aria-labelledby="{% if modalID is defined%}{{modalID}}{% endif %}Title" 
    aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title m-auto" id="{% if modalID is defined%}{{modalID}}{% endif %}">
            {{ modalTitle|default('Confirm!') }}
            </h4>
        </div>

        {% if modalMessage is defined%}
        <div class="modal-body">
            {% for msg in modalMessage %}
                <p class="{{modalMode|default('')}}">{{ msg }}</p>
            {% endfor %}
        </div>
        {% endif %}      
        
        <div class="modal-footer">
            {% if btnYes is defined %}
                <button type="button" class="btn btn-success m-auto" data-dismiss="modal" id="modal-btn-yes">{{ btnYes }}</button>
            {% endif %}
            {% if btnNo is defined %}
                <button type="button" class="btn btn-danger m-auto" data-dismiss="modal" id="modal-btn-no">{{ btnNo }}</button>
            {% endif %}
        </div>
    </div>
  </div>
</div>
<script>
    $('.fls_confirm_modal').modal('show');
</script>