<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand hidden-sm-down pt-0 pb-0" 
        href="{{ app.request.getBaseURL() }}" style="font-family: flslogo;font-size: 20px;"> &#60;/FLS&#62;</a>
    <button class="navbar-toggler" type="button" 
        data-toggle="collapse" 
        data-target="#menuDefault" 
        aria-controls="menuDefault" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            {% block menu_item %}
                {{ menu_item|default('') }}
            {% endblock %}     
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="ajax-loader-container">
                <div class="spinner-border spinner-border-sm ajax-loader" style="display: none;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </li>
            {% block right_item %}
                {{ right_item|default('') }}
            {% endblock %}
            {# {% include '@DOMJudge/partials/menu_change_contest.html.twig' with {contest: , contests: current_contests, change_path: 'jury_change_contest', show_no_contest: true} %} #}
        </ul>
        {# {% include '@DOMJudge/partials/menu_countdown.html.twig' with {contest: } %} #}
    </div>
</nav>
