{% extends '@DOMJudge/Fls/share/menu.html.twig' %}

{% block menu_item %}
    <div class="collapse navbar-collapse" id="menuDefault" data-update-url="{{ path('teacher_ajax_updates') }}">
    </div>
    {% if is_granted('ROLE_TEACHER') %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownJudgehosts" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-gavel"></i> judgehosts
                <span class="badge badge-warning" id="num-alerts-judgehosts"></span>
                <span class="badge badge-danger" id="num-alerts-internalerrors"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ path('teacher_judgehosts', {'cid':cid|default('')}) }}" id="menu_judgehosts">
                    <i class="fas fa-server fa-fw"></i> judgehosts <span class="badge badge-warning" id="num-alerts-judgehosts-sub"></span>
                </a>
                <a class="dropdown-item disabled" href="{{ path('teacher_internal_errors') }}" id="menu_internal_error">
                    <i class="fas fa-bolt fa-fw"></i> internal error <span class="badge badge-danger" id="num-alerts-internalerrors-sub"></span>
                </a>
            </div>
        </li>

        <li id='liSubmission' class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSubmission" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-file-code"></i> Submissions
                <span class="badge badge-info" id="num-alerts-submissions"></span>
            </a>
            <div id="dropSubmission" class="dropdown-menu" aria-labelledby="navbarDropdown">
                {# <a class="dropdown-item" href="{{ path('teacher_judgehosts', {'cid':cid|default('')}) }}" id="menu_submissions">
                    <i class="fas fa-graduation-cap"></i> judgehosts <span class="badge badge-warning" id="num-alerts-submissions-sub"></span>
                </a> #}
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('teacher_ask') }}" id="menu_clarifications">
                <i class="fas fa-paper-plane"></i> Ask! <span class="badge badge-info" id="num-alerts-clarifications"></span>
            </a>
        </li>
        {% if is_granted('ROLE_TEACHER') %}
           <li class="nav-item">
                <a class="nav-link" href="{{ path('teacher_problems',{'cid':cid|default('')}) }}">
                <i class="fas fa-book-open"></i> Problems</a>
            </li>
        {% endif %}

        {% if moreClass is defined and moreClass %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('teacher_exit_class') }}">
                <i class="fas fa-sign-out-alt fa-fw"></i>
                exit class
                {% if classMenu is defined and classMenu is not null %}
                <span class="text-success">({{classMenu.name}})</span>
                {% endif %}                
                <span class="badge badge-info"></span>
            </a>
        </li>
        {% endif %}
    {% endif %}
    {# {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_users') }}">
                <i class="fas fa-users"></i>
                Users
                <span class="badge badge-info"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_classes') }}">
                <i class="fas fa-users"></i>
                Classes
                <span class="badge badge-info"></span>
            </a>
        </li>
    {% endif %} #}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    {% endif %}
{% endblock %}

{% block right_item %}
    <li class="nav-item dropdown" style="min-width:210px">
        <a class="nav-link dropdown-toggle float-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> {{ app.user.getUsername() }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if app.user and app.user.getName() %}
                <a class="dropdown-item disabled" href="#">{{ app.user.getName() }}</a>
            {% endif %}

            <a class="dropdown-item d-none" href="#" id="notify_disable">
                <i class="fas fa-bell-slash fa-fw"></i> Disable Notifications
            </a>
            <a class="dropdown-item d-none" href="#" id="notify_enable">
                <i class="fas fa-bell fa-fw"></i> Enable Notifications
            </a>

            {% if refresh is defined and refresh %}
            <a class="dropdown-item" href="#" id="refresh-navitem">
                <i class="fas fa-sync-alt fa-fw"></i> 
                <span id="refresh-toggle">
                {% if refresh_flag %}
                    Disable Refresh
                {% else %}
                    Enable Refresh
                {% endif %}
                </span>
                {% if refresh %}
                    <span class="small text-muted">({{ refresh.after }}s)</span>
                {% endif %}
            </a>
            {% endif %}

            <a class="dropdown-item" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt fa-fw"></i>Logout </a>
        </div>
    </li>
{% endblock %}
