{% extends "@DOMJudge/Fls/share/base.html.twig" %}

{% block title %}{{ title|default('Fls') }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {# <link rel="stylesheet" href="{{ asset('student.css') }}"> #}
    {{ extrahead|default('') }}
{% endblock %}
