{% extends "@DOMJudge/jury/base.html.twig" %}
{% import _self as self %}

{% block title %}Submission s{{ submission.submitid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/nv.d3.min.css') }}" type="text/css"/>
    <script type="text/javascript" src="{{ asset('js/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/nv.d3.min.js') }}"></script>
    <style>
        .judging-table td a, .judging-table td a:hover {
            display: block;
            text-decoration: none;
            color: inherit;
        }

        .judging-table tr.disabled td a {
            color: silver
        }
    </style>
{% endblock %}

{% block content %}

    {% if claimWarning %}
        <div class="alert alert-warning">
            {{ claimWarning }}
        </div>
    {% endif %}

    <div class="mb-3">
        <h1 style="display: inline;">
            Submission {{ submission.submitid }}
            {% if submission.originalSubmission %}
                {% set origSubmissionUrl = path('jury_submission', {submitId: submission.originalSubmission.submitid}) %}
                (resubmit of <a href="{{ origSubmissionUrl }}">s{{ submission.originalSubmission.submitid }}</a>)
            {% endif %}
            {% if submission.resubmissions is not empty %}
                (resubmitted as
                {%- for resubmission in submission.resubmissions -%}
                    {% set resubmissionUrl = path('jury_submission', {submitId: resubmission.submitid}) %}
                    <a href="{{ resubmissionUrl }}">s{{ resubmission.submitid }}</a>
                    {%- if not loop.last -%},{%- endif -%}
                {%- endfor -%}
                )
            {% endif %}
            {% if not submission.valid %}
                (ignored)
            {% endif %}
        </h1>
        {% if is_granted('ROLE_ADMIN') %}
            {% if submission.valid %}
                {% set action = 'ignore' %}
            {% else %}
                {% set action = 'unignore' %}
            {% endif %}
            <form action="{{ path('jury_submission_update_status', {'submitId': submission.submitid}) }}" method="post"
                  style="display: inline; ">
                <input type="hidden" name="valid" value="{% if submission.valid %}0{% else %}1{% endif %}"/>
                <input type="submit" class="btn btn-outline-secondary btn-sm"
                       value="{{ action | upper }} this submission"
                       onclick="return confirm('Really {{ action }} submission s{{ submission.submitid }}?');"/>
            </form>
        {% endif %}

        {% include '@DOMJudge/jury/partials/rejudge_form.html.twig' with {table: 'submission', id: submission.submitid} %}
    </div>

    {% if not submission.valid %}
        <div class="alert alert-danger">This submission is not used during scoreboard calculations.</div>
    {% endif %}

    {% if not submission.contestProblem %}
        <div class="alert alert-danger">
            This submission is for a problem that is not part (anymore) of the contest of the submission.
        </div>
    {% endif %}

    {# Condensed submission info on a single line with icons #}
    <div class="submission-summary mb-2">
        <span>
            <i class="fas fa-users" title="Team:"></i>
            <a href="{{ path('jury_team', {teamId: submission.teamid, cid: submission.cid}) }}">
                {{ submission.team.name }} (t{{ submission.teamid }})
            </a>
        </span>

        <span>
            <i class="fas fa-trophy" title="Contest:"></i>
            <a href="{{ path('jury_contest', {'contestId': submission.cid}) }}">
                {{ submission.contest.shortname }}
            </a>
        </span>

        <span>
            <i class="fas fa-book-open" title="Problem:"></i>
            <a href="{{ path('jury_problem', {'probId': submission.probid}) }}">
                {% if submission.contestProblem %}
                    {{ submission.contestProblem.shortname }}: {{ submission.problem.name }}
                {% else %}
                    {{ submission.problem.name }}
                {% endif %}
            </a>
        </span>

        <span>
            <i class="fas fa-comments" title="Language:"></i>
            <a href="{{ path('jury_language', {'langId': submission.langid}) }}">
                {{ submission.language.name }}
            </a>
        </span>

        <span>
            <i class="fas fa-clock" title="Submittime:"></i>
            <span title="{{ submission.submittime | printtime('%Y-%m-%d %H:%M:%S (%Z)') }}">
                {{ submission.submittime | printtime(null, submission.contest) }}
            </span>
        </span>

        <span>
            <i class="fas fa-stopwatch" title="Allowed runtime:"></i>
            {{ submission.problem.timelimit * submission.language.timeFactor }}s
        </span>

        <span>
            <i class="fas fa-code" title="Source code:"></i>
            <a href="{{ path('jury_submission_source', {submission: submission.submitid}) }}">
                View source code
            </a>
        </span>

        {% if ext_ccs_url is not null and submission.externalid is null %}
            <span>
                <i class="fas fa-link" title="External link:"></i>
                <a href="{{ submission | externalCcsUrl }}" target="_blank">
                    View in Kattis
                </a>
            </span>
        {% endif %}
    </div>

    {% if ext_ccs_url is not null and submission.externalid %}
        <div class="mb-2">
            External ID:
            <a href="{{ submission | externalCcsUrl }}" target="_blank">
                {{- submission.externalid -}}
            </a>, {{ submission.externalresult | printResult(true, true) }}
        </div>
    {% endif %}

    {% if submission.externalresult is not empty and selectedJudging is not null and submission.externalresult != selectedJudging.result and ext_ccs_url is not null %}
        <div class="alert alert-danger">
            <strong>Results differ!</strong>
            <hr>
            <p>
                This submission was judged as
                <a href="{{ submission | externalCcsUrl }}" target="_blank">
                    {{ submission.externalresult | printResult(true, true) }}
                    by the external CCS</a>, but as {{ selectedJudging.result | printResult(true, true) }}
                by DOMjudge.
            </p>
        </div>
    {% endif %}

    {% if judgings | length > 1 or (judgings | length == 1 and selectedJudging is null) %}
        <table class="judging-table table table-striped table-hover table-sm" style="width: auto;">
            <caption>Judgings</caption>
            <thead>
            <tr>
                <td></td>
                <th scope="col">ID</th>
                <th scope="col">start</th>
                <th scope="col">max runtime</th>
                <th scope="col">judgehost</th>
                <th scope="col">result</th>
                <th scope="col">rejudging</th>
            </tr>
            </thead>
            <tbody>
            {% for judging in judgings %}
                {% set link = path('jury_submission', {submitId: submission.submitid, jid: judging.judgingid}) %}
                <tr {% if not judging.valid %}class="disabled"{% endif %}>
                    <td>
                        <a href="{{ link }}">
                            {% if selectedJudging is not null and selectedJudging.judgingid == judging.judgingid %}
                                <i class="fas fa-long-arrow-alt-right"></i>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </a>
                    </td>
                    <td><a href="{{ link }}">j{{ judging.judgingid }}</a></td>
                    <td><a href="{{ link }}">{{ judging.starttime | printtime(null, submission.contest) }}</a></td>
                    <td>
                        <a href="{{ link }}">
                            {% if maxRunTimes[judging.judgingId] is not null %}
                                {{ maxRunTimes[judging.judgingId] }}s
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ link }}">
                            {% if judging.judgehost is not null %}
                                {{ judging.judgehost.hostname | printHost }}
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ link }}">
                            {{ judging.result | printResult(judging.valid, true) }}
                            {% if judging.stillBusy %}
                                (&hellip;)
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ link }}">
                            {% if judging.rejudging is not null %}
                                r{{ judging.rejudgingid }} ({{ judging.rejudging.reason }})
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if selectedJudging is null %}
        <div class="alert alert-warning">Not (re)judged yet</div>

        {% if unjudgableReasons is not empty %}
            {% for reason in unjudgableReasons %}
                <div class="alert alert-danger">{{ reason }}</div>
            {% endfor %}
        {% endif %}
    {% else %}

        {% include '@DOMJudge/jury/partials/submission_graph.html.twig' %}

        {# Show judging information #}
        <div class="mb-2">
            <h2 style="display: inline;">
                Judging j{{ selectedJudging.judgingid }}
                {% if selectedJudging.rejudging %}
                    (rejudging
                    <a href="{{ path('jury_rejudging', {rejudgingId: selectedJudging.rejudgingid}) }}">
                        r{{ selectedJudging.rejudgingid }}</a>, reason: {{ selectedJudging.rejudging.reason }})
                {% elseif not selectedJudging.valid %}
                    (Invalid)
                {% endif %}
            </h2>
            &nbsp;
            {% if not selectedJudging.verified %}
                <form action="{{ path('jury_submission', {submitId: submission.submitid, jid: selectedJudging.judgingid}) }}"
                      method="post" style="display: inline;">
                    {% if selectedJudging.juryMember is not empty %}
                        (claimed by {{ selectedJudging.juryMember }})
                        <input type="hidden" name="forceclaim" value="1"/>
                    {% endif %}
                    {% if app.user.username == selectedJudging.juryMember %}
                        <input type="submit" value="unclaim" name="unclaim" class="btn btn-outline-secondary btn-sm"/>
                    {% else %}
                        <input type="submit" value="claim" name="claim" class="btn btn-outline-secondary btn-sm"/>
                    {% endif %}
                </form>
            {% endif %}
        </div>

        <div class="mb-2">
            <div>
                Result: {{ selectedJudging.result | printResult(selectedJudging.valid, true) }}
                {%- if lastJudging is not null -%}
                    {% set lastSubmissionLink = path('jury_submission', {submitId: lastSubmission.submitid}) %}{#-
                -#}<span class="lastresult">
                    (<a href="{{ lastSubmissionLink }}">s{{ lastSubmission.submitid }}</a>: {{ lastJudging.result }}){#-
                -#}</span>
                {%- endif -%}
                , Judgehost:
                {% set judgehostLink = path('jury_judgehost', {hostname: selectedJudging.judgehost.hostname}) %}
                <a href="{{ judgehostLink }}">{{ selectedJudging.judgehost.hostname | printHost }}</a>,
                <span class="judgetime">Judging started: {{ selectedJudging.starttime | printtime('%H:%M:%S') }}
                    {%- if selectedJudging.endtime -%}
                        , finished in {{ selectedJudging.starttime | printtimediff(selectedJudging.endtime) }}s
                    {%- elseif selectedJudging.valid or selectedJudging.rejudging -%}
                        &nbsp;[still judging - busy {{ selectedJudging.starttime | printtimediff }}]
                    {%- else -%}
                        &nbsp;[aborted]
                    {%- endif -%}
            </span>
                {%- if selectedJudging.result != 'compiler-error' -%}
                    , max/sum runtime:
                    {{ selectedJudging.maxRuntime | number_format(2, '.', '') }}/{{ selectedJudging.sumRuntime | number_format(2, '.', '') }}s
                    {%- if lastJudging is not null -%}
                        <span class="lastruntime">
                        (<a href="{{ lastSubmissionLink }}">s{{ lastSubmission.submitid }}</a>:
                            {{ lastJudging.maxRuntime | number_format(2, '.', '') }}{#-
                        -#}/{{ lastJudging.sumRuntime | number_format(2, '.', '') }}s)
                    </span>
                    {%- endif -%}
                {% endif %}
            </div>

            {# Display testcase results #}
            {% if selectedJudging.result != 'compiler-error' %}
                <table>
                    <tr>
                        <td>testcase runs:</td>
                        <td>
                            {{ runs | displayTestcaseResults(selectedJudging.endtime is not empty) }}
                        </td>
                    </tr>
                    {% if lastJudging is not null %}
                        <tr class="lasttcruns">
                            <td>
                                <a href="{{ lastSubmissionLink }}">s{{ lastSubmission.submitid }}</a> runs:
                            </td>
                            <td>
                                {{ lastRuns | displayTestcaseResults(lastJudging.endtime is not empty) }}
                            </td>
                        </tr>
                    {% endif %}
                </table>

                {# Show JS toggle of previous submission results #}
                {% if lastJudging is not null %}
                    <span class="testcases_prev">
                    <a href="javascript:togglelastruns();">show/hide</a>
                    results of previous <a href="{{ lastSubmissionLink }}">submission s{{ lastSubmission.submitid }}</a>
                        {% if lastJudging.verifyComment %}
                            <span class="prevsubmit">(verify comment: '{{ lastJudging.verifyComment }}')</span>
                        {% endif %}
                </span>
                {% endif %}
            {% endif %}
        </div>

        <script>
            $(function () {
                togglelastruns();
            });
        </script>

        {# Show verify info, but only when a result is known #}
        {% if selectedJudging.result is not empty %}
            <form action="{{ path('jury_judging_verify', {judgingId: selectedJudging.judgingid}) }}" method="post">
                <input type="hidden" name="verified" value="{% if selectedJudging.verified %}0{% else %}1{% endif %}"/>

                {# Display verification data: verified, by whom, and comment #}
                <p>
                    Verified: <strong>{% if selectedJudging.verified %}yes{% else %}no{% endif %}</strong>
                    {%- if selectedJudging.verified and selectedJudging.juryMember is not empty -%}
                        , by {{ selectedJudging.juryMember }}
                        {%- if selectedJudging.verifyComment is not empty %}
                            with comment "{{ selectedJudging.verifyComment }}"
                        {%- endif -%}
                    {%- endif -%}
                    {% if not (verificationRequired and selectedJudging.verified and selectedJudging.valid) %}
                        <input type="submit" value="{% if selectedJudging.verified %}un{% endif %}mark verified"
                               class="btn btn-outline-secondary btn-sm"/>

                        {% if not selectedJudging.verified %}
                            with comment
                            <input type="text" name="comment" size="25" class="form-control" id="comment"
                                   style="display: inline; width: auto;"/>
                        {% endif %}

                        {% if icat_url is not null and submission.contestProblem %}
                            <button class="btn btn-outline-secondary btn-sm" id="post-to-icat">
                                post to iCAT
                            </button>
                        {% endif %}
                    {% endif %}
                </p>
            </form>
            {% if submission.contestProblem %}
                <script>
                    $(function () {
                        $('#post-to-icat').on('click', function () {
                            postVerifyCommentToICAT(
                                '{{ icat_url }}/insert_entry.php',
                                '{{ app.user.username }}',
                                '{{ submission.teamid }}',
                                '{{ submission.contestProblem.shortname }}',
                                '{{ submission.externalid }}'
                            );
                            alert('Comment posted to iCAT.');
                            return false;
                        });
                    });
                </script>
            {% endif %}
        {% else %}
            <div class="alert alert-warning">Judging is not ready yet!</div>
        {% endif %}

        {# Display compile output #}
        {% set color = '#6666FF' %}
        {% set message = 'not finished yet' %}
        {% set output = selectedJudging.outputCompile(true) %}
        {% if output is not null %}
            {% if selectedJudging.result == 'compiler-error' %}
                {% set color = 'red' %}
                {% set message = 'unsuccessful' %}
            {% else %}
                {% set color = '#1daa1d' %}
                {% set message = 'successful' %}
                {% if output is not empty %}
                    {% set message = message ~ ' (with ' ~ (output | lineCount) ~ ' line(s) of output)' %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% set header = 'Compilation <span style="color: ' ~ color ~ ';">' ~ message ~ '</span>' %}
        <h3>
            {% if output is not empty %}
                <a class="collapse-link" href="javascript:collapse('#detailcompile')">
                    {{ header | raw }}
                </a>
            {% else %}
                {{ header | raw }}
            {% endif %}
        </h3>
        {% if output is empty %}
            <p class="nodata{% if selectedJudging.result != 'compiler-error' %} d-none{% endif %}"
                id="detailcompile">There were no compiler errors or warnings.</p>
        {% else %}
            <pre class="output_text {% if selectedJudging.result != 'compiler-error' %} d-none{% endif %}"
                id="detailcompile">{{ output }}</pre>
        {% endif %}

        {% if selectedJudging.result != 'compiler-error' %}
            {# Show run info. Only when compilation was successful #}
            {% for runIdx, run in runs %}
                <div class="run {% if run.firstJudgingRun and run.firstJudgingRun.runresult == 'correct' %}run_correct{% endif %}">
                    <h4 id="run-{{ run.rank }}">Run {{ run.rank }}</h4>

                    {% if run.firstJudgingRun is null or run.firstJudgingRun.runresult is null %}
                        <p class="nodata">
                            {% if selectedJudging.result %}
                                Run not used for final result.
                            {% else %}
                                Run not started/finished yet.
                            {% endif %}
                        </p>
                    {% else %}
                        <table>
                            <tr>
                                <td>
                                    <table class="table table-sm table-striped table-bordered table-hover">
                                        <tr>
                                            <th>Description</th>
                                            <td>{{ run.description(true) | descriptionExpand }}</td>
                                        </tr>
                                        <tr>
                                            <th>Download</th>
                                            <td>
                                                <a href="{{ path('jury_problem_testcase_fetch', {'probId': submission.probid, 'rank': run.rank, 'type': 'input'}) }}">
                                                    Input
                                                </a>
                                                /
                                                <a href="{{ path('jury_problem_testcase_fetch', {'probId': submission.probid, 'rank': run.rank, 'type': 'output'}) }}">
                                                    Reference Output
                                                </a>
                                                /
                                                <a href="{{ path('jury_submission_team_output', {'submission': submission.submitid, 'run': run.firstJudgingRun.runid, 'contest': submission.cid}) }}">
                                                    Team Output
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Runtime</th>
                                            <td>
                                                {{ run.firstJudgingRun.runtime }} sec
                                                {% if run.firstJudgingRun.runresult == 'timelimit' %}
                                                    {% if runsOutput[runIdx].terminated %}
                                                        <b>(terminated)</b>
                                                    {% else %}
                                                        <b>(finished late)</b>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Result</th>
                                            <td>
                                                <span class="sol {% if run.firstJudgingRun.runresult == 'correct' %}sol_correct{% else %}sol_incorrect{% endif %}">
                                                    {{ run.firstJudgingRun.runresult }}
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    {% if runsOutput[runIdx].image_thumb %}
                                        {% set imgUrl = path('jury_problem_testcase_fetch', {'probId': submission.probid, 'rank': run.rank, 'type': 'image'}) %}
                                        <a href="{{ imgUrl }}">
                                            <img src="data:image/{{ run.imageType }};base64,{{ runsOutput[runIdx].image_thumb | base64 }}"/>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>

                        {% if combinedRunCompare %}
                            <h5>Validator output</h5>
                            {% if runsOutput[runIdx].output_diff is empty %}
                                <p class="nodata">There was no validator output.</p>
                            {% else %}
                                <pre class="output_text">{{ runsOutput[runIdx].output_diff | parseRunDiff }}</pre>
                            {% endif %}
                        {% else %}
                            <h5>Diff output</h5>
                            {% if runsOutput[runIdx].output_diff is empty %}
                                <p class="nodata">There was no diff output.</p>
                            {% else %}
                                <pre class="output_text">{{ runsOutput[runIdx].output_diff | parseRunDiff }}</pre>
                            {% endif %}

                            {% if run.firstJudgingRun.runresult != 'correct' %}
                                {{ runsOutput[runIdx] | runDiff }}
                            {% endif %}
                        {% endif %}

                        {% if combinedRunCompare %}
                            <h5>Validator/Submission interaction</h5>
                            {% if runsOutput[runIdx].output_run is empty %}
                                <p class="nodata">There was no interaction log.</p>
                            {% else %}
                                {{ runsOutput[runIdx].output_run | interactiveLog }}
                            {% endif %}
                        {% else %}
                            <h5>Program output</h5>
                            {% if runsOutput[runIdx].output_run is empty %}
                                <p class="nodata">There was no program output.</p>
                            {% else %}
                                <pre class="output_text">{{ runsOutput[runIdx].output_run | parseRunDiff }}</pre>
                            {% endif %}
                        {% endif %}

                        <h5>Program error output</h5>
                        {% if runsOutput[runIdx].output_error is empty %}
                            <p class="nodata">There was no stderr output.</p>
                        {% else %}
                            <pre class="output_text">{{ runsOutput[runIdx].output_error | parseRunDiff }}</pre>
                        {% endif %}

                        <h5>Judging system output (info/debug/errors)</h5>
                        {% if runsOutput[runIdx].output_system is empty %}
                            <p class="nodata">There was no judging system output.</p>
                        {% else %}
                            <pre class="output_text">{{ runsOutput[runIdx].output_system | parseRunDiff }}</pre>
                        {% endif %}

                    {% endif %} {# run.firstJudgingRun is null or run.firstJudgingRun.runresult is null #}
                </div>
            {% endfor %}

            <script type="text/javascript">
                function display_correctruns(show) {
                    elements = document.getElementsByClassName('run_correct');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].style.display = show ? 'block' : 'none';
                    }
                }

                display_correctruns(false);
            </script>
        {% endif %} {# selectedJudging.result != 'compiler-error' #}

    {% endif %} {# selectedJudging is null #}

{% endblock %}