
{% block extrahead %}
	<link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
	<script src="{{ asset("js/jquery-ui.js") }}"></script>
	<script src="{{ asset("js/Fls/Admin/class_add.js") }}"></script>
	
{% endblock %}
{% block content  %}
<div class="row">
<div id="dom_data" 
     data-route-add-semester="{{ path('admin_class_add_semester') }}"
	 hidden>
</div>
	<div id="dom_data_route" data-route-add-semester="{{ path('admin_add_semester') }}"></div>
	<div class="col-lg-4">
		{{ form_start(form) }}
		<div>
			{{ form_row(form.semester) }}
			<button type="button" id="btnAddSemester" class="btn btn-success" data-toggle="modal" data-target="#addSemester" aria-expanded="false">
						<i class="fas fa-plus"></i>
						Add semester</button>
		</div>
		<br>
		{{ form_row(form.name) }}
		{{ form_row(form.langid) }}
		{# {{ form_row(form.starttimeEnabled) }} #}
		{{ form_end(form) }}
	</div>
</div>
{% endblock %}
{% block modal %}
	{# add semester modal  #}
	<div class="modal fade" tabindex="-1" id="addSemester">
		<div class="modal-dialog modal-lg">
			<div
				class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Add Semester</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="form-group">
						<label for="sem-name">Semester Name:</label>
						<input type="text" class="form-control" id="sem-name">
						<span class="badge badge-danger" id="name_danger_span"></span>
					</div>
					<div class="form-group">
						<label for="sem-start">Start date:</label>
						{# <input type="text" class="form-control" id="sem-start" placeholder="DD/MM/YY"> #}
						<input type="text" id="sem-start" class="datepicker form-control" placeholder="DD/MM/YYYY">
					</div>
                    <div class="form-group">
						<label for="sem-end">End date:</label>
						{# <input type="text" class="form-control" id="sem-end" placeholder="DD/MM/YY"> #}
						<input type="text" id="sem-end" class="datepicker form-control" placeholder="DD/MM/YYYY">
					</div>
					<span class="badge badge-danger" id="date_danger_span"></span>		
					<br>
                    <button type="button" id="btn_sendAjax" class="btn btn-primary">
						Add semester</button>
						<br>
					<span class="badge badge-success" id="add_success_span"></span>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<div class="input-group-append">
						<button class="btn btn-success btnOk" id="btnOk" data-dismiss="modal" type="submit">
							Ok
						</button>
					</div>
					<button type="button" class="btn btn-danger .btnCancel" id="btnCancel" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}
