<div class="col-12">
    <div class="col-12 pb-3 row">
        <div class="col-lg-6 col-md-12 row">
            <div class="pr-5 mr-auto">Class: {{classes.name|default('')}}</div>
            <div class="pr-5 mr-auto">Total slot: {{total|default(0)}}</div>
        </div>
    </div>
    <div class="col-12 row">
        <div id="hide_data" data-cid="{{classes.cid|default('')}}" hidden></div>
        <div class="col-lg-4 col-md-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" style="width: 60px; font-size: medium;" for="input_room">Date</label>
                </div>
                <input id="schedule_date" type="text" class="form-control datepicker" placeholder="" aria-label="" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" style="font-size: x-large;width:3rem;" id="basic-addon2"><i class="far fa-calendar-alt"></i></span>
                </div>
            </div>
            <div id="date_error" class="text-danger d-none" style="margin-top:-10px"></div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" style="width: 65px; font-size: medium" for="input_room">Room</label>
                </div>
                <select class="custom-select" id="input_room">
                    {% if listRooms is defined %}
                        {% for room in listRooms %}
                            <option value="{{room.roomid}}">{{room.roomname}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" style="width: 55px;font-size: medium" for="input_slot">Slot</label>
                </div>
                <select class="custom-select" id="input_slot">
                    {% if listSlots is defined %}
                    {% for slot in listSlots %}
                        <option value="{{slot.slotid}}">{{slot.slotid}} ({{slot.startHour}}:{{slot.startMinute}} - {{slot.endHour}}:{{slot.endMinute}})</option>
                    {% endfor %}
                {% endif %}
                </select>
            </div>
        </div>
    </div>
</div>