<form action="{{ path('teacher_clarification_send') }}" method="post" id="sendclar" onsubmit="return confirmClar();">

{% if origclar.clarid is defined %}
<input type="hidden" name="id" value="{{ origclar.clarid }}">
{% endif %}

<div class="form-group">
<label for="sendto" >Send to: {{clarform.user.name}} ({{clarform.user.username}})</label>
<input type="hidden" name="sendto" value="{{clarform.user.username}}">
</div>

<div class="form-group">
<label for="subject" >Problem: <a target="_blank" href="{{ path('teacher_problem', {probId: clarform.userproblem.probid.probid}) }}">{{clarform.userproblem.probid.shortname}} - {{clarform.userproblem.probid.name}}</a> </label>
<input type="hidden" name="userproblemid" value="{{clarform.userproblem.userproblemid}}">
</div>

<div class="form-group">
<label for="bodytext">Message:</label>
<textarea class="form-control" name="bodytext" id="bodytext" rows="8" cols="85" required></textarea>
</div>

<div class="row">
<div class="col-sm">
<div class="form-group">
<button type="submit" name="submit" class="btn btn-primary"><i class="fas fa-envelope"></i> Send</button>
</div>
</div>

</div>

</div>

</form>
