<div class="table-wrapper">
<table class="data-table table table-striped table-hover table-sm" style="width:auto">
    <thead>
    <tr>
        <th scope="col">ID</th>
        {% if showExternalId %}
            <th scope="col">external ID</th>
        {% endif %}

        <th scope="col">class</th>
        <th scope="col">time</th>
        <th scope="col">from</th>
        <th scope="col">to</th>
        <th scope="col">problem</th>

        <th scope="col">message</th>
        <th scope="col">state</th>
        <th scope="col">answered by</th>
    </tr>
    </thead>
    <tbody>
    {%- for clarification in clarifications %}
        {%- set link = path('teacher_clarification', {id: clarification.clarid}) %}

        <tr>
            <td><a href="{{ link }}">{{ clarification.clarid }}</a></td>
            {% if showExternalId %}
                <td><a href="{{ link }}">{{ clarification.externalid }}</a></td>
            {% endif %}
            <td><a href="{{ link }}">{{ clarification.classes.name }}</a></td>
            <td><a href="{{ link }}">{{ clarification.submittime | printtime('%Y-%m-%d %H:%M:%S') }}</a></td>

            <td><a href="{{ link }}" title="{{ clarification.userproblem.userid.name }}">{{ clarification.userproblem.userid.username | truncate(30) }}</a></td>
            {# <td><a href="{{ link }}" title="{{ recipient }}">{{ recipient | truncate(30) }}</a></td> #}

            <td><a href="{{ link }}">{{ clarification.receiver }}</a></td>
            <td><a href="{{ path('teacher_problem', {probId: clarification.userproblem.probid.probid}) }}"title="{{  clarification.userproblem.probid.name }}">
            {{ clarification.userproblem.probid.shortname }}
            </a></td>
            
            <td><a href="{{ link }}">{{ clarification.summary }}</a></td>
            {%- set claim = false %}
            {%- if clarification.answered %}
                {%- set answered = '<i class="fas fa-check" title="is answered"></i>' %}
            {%- else %}
                {%- set answered = '<i class="fas fa-times" title="not answered"></i>' %}
                {%- if clarification.receiver is empty %}
                    {%- set claim = 'yes' %}
                {%- else %}
                    {%- set answered = '<i class="" title="answered">-</i>' %}
                    {%- set claim = 'yes' %}
                {%- endif %}
            {%- endif %}
            {%- if clarification.receiver is empty %}
                {%- set teacher = '&nbsp;' %}
            {%- else %}
                {%- set teacher = clarification.receiver %}
            {%- endif %}

            <td><a href="{{ link }}">{{ answered | raw }}</a></td>
            <td><form action="{{ path('teacher_ask_answer', {clarId: clarification.clarid}) }}" method="post" class="form-inline">
                {%- if claim and clarification.userproblem.userid.name -%}
                    <button name="claimed" value="1"
                       class="btn btn-outline-success btn-sm">answer</button>
                {%- else -%}
                    <a href="{{ link }}">{{ teacher | raw }}</a>
                {%- endif -%}
		</form>
            </td>
        </tr>
    {%- endfor %}

    </tbody>
</table>
</div>
