<div class="col-12 pl-0 pr-0 row ml-0">
    {% if listRoom is defined and listRoomip is defined %}
        <div class="mr-4">Student: {{ student.name }}</div>
        <div class="mr-4">Class: {{ classes.name }}</div>
    {% endif %}
</div>
<div class="col-12 pl-0 pr-0 h-75">
    <div id="hide-data"
        data-cid="{{classes.cid}}"
        data-userid="{{student.userid}}"
        data-route="{{ path('add_positions') }}"
        hidden >
    </div>
    {% if currentPos is defined %} 
    <div class="col-12 pl-0 pr-0 pt-3 pb-3 row ml-0">
        <div class="mr-3">
            Current position: {{currentPos.pccode}}({{currentPos.ipAddress}})
        </div>
        <div class="mr-3">
            Room: {{currentPos.roomid.getRoomname()}}
        </div>
    </div>
    {% endif %}
    {#  select room #}
    <div class="col-12 p-3" id="selectRoom_v" {% if currentPos is defined and fill == false %}hidden{% endif %}>
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" style="width:120px" for="selectRoom">Select room </label>
            </div>
            <select class="custom-select" id="selectRoom">
                {% for room in listRoom %}
                    {% if currentRoom is defined and (room.roomid ==  currentRoom.roomid) %}
                        <option value="{{room.roomid}}" selected>{{room.roomname}}</option>
                    {% else %}
                        <option value="{{room.roomid}}">{{room.roomname}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    {# Select positions (ip address) #}
    <div class="col-12 p-3" id="selectPositions_v" {% if currentPos is defined and fill == false %}hidden{% endif %}>
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" style="width:120px" for="selectPositions">Select positions </label>
            </div>
            <select class="custom-select" id="selectPositions">
                {% for pos in listRoomip %}
                    {% if currentPos is defined and (currentPos.ipid ==  pos.ipid) %}
                        <option value="{{pos.ipid}}" selected>{{pos.pccode}}({{pos.ipAddress}})</option>
                    {% else %}
                        <option value="{{pos.ipid}}">{{pos.pccode}}({{pos.ipAddress}})</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="col-12 pt-2 pb-2 row ml-0">
    <div class="pl-3 pr-3 ml-auto mr-auto">
        <button id="btn_save" type="button" class="btn btn-success ml-2 mr-2" {% if currentPos is defined and fill == false %}hidden{% endif %}>Save</button>
        <button id="btn_cancel" type="button" class="btn btn-success ml-2 mr-2" {% if fill == false %}hidden{% endif %}>Cancel</button>
        <button id="btn_edit" type="button" class="btn btn-success ml-2 mr-2" {% if currentPos is not defined or fill %}hidden{% endif %}>Edit</button>
    </div>
</div>