<div class="col-12 pl-0 pr-0 row ml-0">
    {% if student is defined %}
    <div class="mr-4">{{ student.name }}</div>
    {# <div class="mr-4">{{ student.name }}</div> #}
    {% endif %}
</div>
<div class="col-12 pl-0 pr-0 h-75">
    <div id="hide-data"
        data-list-update="{{ listDataEncode is defined ? listDataEncode:[] }}"
        data-route-confirm="{{ path('confirm_chage') }}"
        data-route-rerandom="{{ path('teacher_accept_change') }}"
        data-redirect="{{ redirect is defined ? redirect:'' }}"
    hidden>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Loc</th>
                <th scope="col">Difficult</th>
                <th scope="col">Review</th>
            </tr>
        </thead>
        <tbody>
            {% if listData is defined %}
                {% for items in listData %}
                    <tr>
                        <td>{{ items.problem.getName() }}</td>
                        <td>{{ items.problem.getPoints() }}</td>
                        <td>{{ items.problem.getDifficult() }}</td>
                        <td>{{ (items.review == 1) ? 'true':'flase' }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
<div class="col-12 pt-2 pb-2 row ml-0">
    <div class="pl-3 pr-3">
        <button id="btn_confirm" type="button" class="btn btn-success">Confirm</button> </a>
    </div>
    <div class="pl-3 pr-3">
        <button id="btn_rerandom" type="button" class="btn btn-success">Re-random</button>
    </div>
</div>