<div class="col-12 pl-0 pr-0 row ml-0">
    <div class="mr-5">Class: {{ classes.name }}</div>
    <div class="mr-5">Problem: {{problem.shortname}} - {{ problem.name }}</div>
    {% if student is defined and student is not null %}
        <div class="mr-5">Student: {{ student.name }}</div>
    {% endif %}
    <div class="border-top border-dark w-100 mb-3 mt-3"></div>
</div>
<div class="col-12 pl-0 pr-0 h-75">    
    {% if mode is defined and mode %} 
        {% if (dataPro is defined and dataPro.addRequirement is null) %}
            <div>No have Requirement!</div>
        {% else %}
            <p>Requirement Text:</p>
            <div class="input-group" style="min-height:200px">
                <textarea id="text_require" {% if mode is defined and mode %} disabled {% endif %}
                    class="form-control" aria-label="With textarea">{{ dataPro is defined ? dataPro.addRequirement:'' }}</textarea>        
            </div>
        {% endif %}
    {% else %}
        <p>Requirement Text:</p>
        <div class="input-group" style="min-height:200px">
                <textarea id="text_require" {% if mode is defined and mode %} disabled {% endif %}
                    class="form-control" aria-label="With textarea">{{ dataPro is defined ? dataPro.addRequirement:'' }}</textarea>        
        </div>
    {% endif %}
</div>
<div class="col-12 pt-3 pb-2 row ml-0">
    <div class="float-right ml-auto">
        <button id="btn_add_require" 
        {% if mode is defined and mode %} hidden {% endif %}
        {% if student is defined and student is not null %} data-userid="{{student.userid}}" {% endif %}
        data-route="{{ path(route) }}" 
        data-cid="{{classes.cid}}"
        data-probid="{{problem.probid}}"
        type="button" class="btn btn-success" >Add Requirement</button> </a>
    </div>
</div>