
<div class="sidebar_menu bg-light border-right fixed-left" id="sidebar-wrapper">
    {% if is_granted('ROLE_ADMIN') %}
    <div class="sidebar-heading">Admin</div>
    <div class="list-group list-group-flush">
        <a id="admin_class_detail" 
            href="{{ path('admin_class_detail', {'cid':cid|default('')}) }}" 
            class="list-group-item list-group-item-action bg-light">
            User of Class
        </a>
    </div>
    <div class="list-group list-group-flush">
        <a id="admin_class_detail" 
            href="{{ path('class_schedule', {'cid':cid|default('')}) }}" 
            class="list-group-item list-group-item-action bg-light">
            Scheduling
        </a>
    </div>
    {% endif %}
    <div class="sidebar-heading">
    {% if classMenu is defined and classMenu is not null %}
        <a class="text-dark" href="{{ path('teacher_interface', {'cid':cid|default('')}) }}">Class {{classMenu.name}}</a>
    {% else %}
    Teacher
    {% endif %}</div>
    <div id="menuTeacher" class="list-group list-group-flush">
        <a id="teacher_manage_student" href="{{ path('teacher_manage_student', {'cid':cid|default('')}) }}" class="list-group-item list-group-item-action bg-light">Student Management</a>
        <a id="teacher_submissions" href="{{ path('teacher_submissions',{'cid':cid|default(''),'class':cid|default('')}) }}" class="list-group-item list-group-item-action bg-light">Submissions of Class</a>
        <a id="problem_class" href="{{ path('problem_class', {'cid':cid|default('')})}}" class="list-group-item list-group-item-action bg-light">Problems of Class</a>
        <a id="teacher_manage_request_problem" href="{{ path('teacher_manage_request_problem', {'cid':cid|default('')}) }}" class="list-group-item list-group-item-action bg-light">Request Change Problem</a>
    {% if is_granted('ROLE_ADMIN') == false and is_granted('ROLE_TEACHER') %}
        <a id="admin_class_detail" 
            href="{{ path('class_schedule', {'cid':cid|default('')}) }}" 
            class="list-group-item list-group-item-action bg-light">
            Schedules
        </a>
    {% endif %}    
    </div>
    <script>
        let currentUrl =  window.location.href;
        $("a").removeClass('isActiveMenu');
        if(currentUrl.includes('teacher/student')){
            $('#teacher_manage_student').addClass('isActiveMenu');
        }else if(currentUrl.includes('teacher/submissions') && ( currentUrl.includes('class=') || currentUrl.includes('cid=') )){
            $('#teacher_submissions').addClass('isActiveMenu');
        }else if(currentUrl.includes('teacher/class/problems') || (currentUrl.includes('teacher/problems') && currentUrl.includes('cid='))){
            $('#problem_class').addClass('isActiveMenu');
        }else if(currentUrl.includes('teacher/request')){
            $('#teacher_manage_request_problem').addClass('isActiveMenu');
        }else if(currentUrl.includes('admin/classes/detail_class')){
            $('#admin_class_detail').addClass('isActiveMenu');
        }
    </script>
</div>
