{# Render a list of submissions for a jury page #}

{% if submissions is empty %}
    <div class="alert alert-warning">No submissions</div>
{% else %}
    <table class="data-table table table-hover table-striped table-sm submissions-table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            {# {%- if showContest %}

                <th scope="col">contest</th>
            {%- endif %} #}

            <th scope="col">Time</th>
            <th scope="col">User</th>
            <th scope="col">Problem</th>
            <th scope="col">Lang</th>
            <th scope="col">Result</th>
            <th scope="col">Verified</th>
            {# <th scope="col">By</th> #}
            {%- if rejudging is defined %}

                <th scope="col">Old result</th>
            {%- endif %}
            {%- if showTestcases is defined and showTestcases %}

                <th scope="col" class="not-sortable not-searchable">Test results</th>
            {%- endif %}

        </tr>
        </thead>
        <tbody>
        {%- for submission in submissions %}
            {%- if rejudging is defined %}
                {%- set link = path('teacher_submission', {submitId: submission.submitid, rejudgingid: rejudging.rejudgingid, cid: cid|default('')}) %}
            {%- else %}
                {%- set link = path('teacher_submission', {submitId: submission.submitid, cid: cid|default('')}) %}
            {%- endif %}

            <tr class="{% if not submission.valid %}ignore{% endif %}"
                data-problem-id="{{ submission.probid }}"
                data-team-id="{{ submission.userid }}"
                data-language-id="{{ submission.langid }}"
                data-submission-id="{{ submission.submitid }}">
                <td><a href="{{ link }}">s{{ submission.submitid }}</a></td>
                {# {%- if showContest %}
                    <td><a href="{{ link }}">{{ submission.cid }}</a></td>
                {%- endif %} #}

                <td><a href="{{ link }}">{{ submission.submittime | printtime(null, null, submission.classes) }}</a></td>
                <td><a href="{{ link }}" title="t{{ submission.userid }}">{{ submission.user.username | truncate(30) }}</a>
                </td>
                <td class="probid"><a href="{{ link }}"
                                      {# title="{{ submission.problem.name }}">{{ submission.contestProblem.shortname }}</a> #}
                                      title="{{ submission.problem.name }}">{{ submission.problem.name }}</a>
                </td>
                <td class="langid"><a href="{{ link }}"
                                      title="{{ submission.language.name }}">{{ submission.langid }}</a></td>
                <td><a href="{{ link }}">
                        {# {%- if submission.submittime > submission.classes.endtime %}
                            {{ 'too-late' | printResult(true, true) }}
                            {%- if submission.judgings.first is not empty and submission.judgings.first.result is not empty %}
                                ({{ submission.judgings.first.result | printResult(true, true) }})
                            {%- endif %} #}
                        {%- if submission.judgings.first is empty or submission.judgings.first.result is empty %}
                            {%- if submission.judgehost %}
                                {{- '' | printResult(true, true) -}}
                            {%- else %}
                                {{- 'queued' | printResult(true, true) -}}
                            {%- endif %}
                        {%- else %}
                            {{- submission.judgings.first.result | printResult(true, true) -}}
                        {%- endif %}
                        {%- if submission.stillBusy -%}
                            (&hellip;)
                        {%- endif -%}
                </a></td>
                {# {%- set claim = false %} #}
                {%- if submission.judgings.first is empty or submission.judgings.first.result is empty -%}
                    {%- set verified = '' %}
                    {%- set juryMember = '' %}
                {%- else %}
                    {%- set juryMember = submission.judgings.first.juryMember %}
                    {# {%- if submission.judgings.first.result == 'correct' %}
                        {%- set verified = 'yes' %}
                    {%- else %}
                        {%- set verified = 'no' %} #}
                        {# {%- if submission.judgings.first.juryMember is empty %}
                            {%- set claim = true %}
                        {%- else %}
                            {%- set verified = 'claimed' %}
                        {%- endif %} #}
                    {# {%- endif %} #}
                {%- endif %}
                {# {%- if claim %}
                    {%- set claimArg = {claim: 1} %}
                {%- else %}
                    {%- set claimArg = {unclaim: 1} %}
                {%- endif %} #}

                <td><a href="{{ link }}">{{ juryMember }}</a></td>
                {# <td>
                    {%- if rejudging is defined %}
                        {%- set claimLink = path('teacher_submission', claimArg | merge({submitId: submission.submitid, rejudgingid: rejudging.rejudgingid, cid: cid|default('')})) %}
                    {%- else %}
                        {%- set claimLink = path('teacher_submission', claimArg | merge({submitId: submission.submitid, cid: cid|default('')})) %}
                    {%- endif %}
                    {%- if claim -%}
                        <a class="btn btn-outline-secondary btn-sm" href="{{ claimLink }}">claim</a>
                    {%- elseif (not submission.judgings.first or not submission.judgings.first.verified) and juryMember == app.user.username -%}
                        <a class="btn btn-info btn-sm" href="{{ claimLink }}">unclaim</a>
                    {%- else -%}
                        <a href="{{ link }}">{{ juryMember }}</a>
                    {%- endif -%}
                </td> #}
                {%- if rejudging is defined %}

                    <td><a href="{{ path('teacher_submission', {submitId: submission.submitid, cid: cid|default('')}) }}">
                            {{ submission.oldResult | printResult(true, true) }}
                    </a></td>
                {%- endif %}
                {%- if showTestcases is defined and showTestcases %}

                    <td class="testcase-results">
                        {{- submission | testcaseResults -}}
                    </td>
                {%- endif %}

            </tr>
        {%- endfor %}

        </tbody>
    </table>

    <p>
        Total correct: {{ submissionCounts.correct }}, submitted: {{ submissionCounts.total }}
        {# {%- if submissionCounts.unverified > 0 -%}
            , unverified: {{ submissionCounts.unverified }}
        {%- endif -%} #}
        {%- if submissionCounts.ignored > 0 -%}
            , ignored: {{ submissionCounts.ignored }}
        {%- endif -%}
        {%- if submissionCounts.queued > 0 -%}
            , judgement pending: {{ submissionCounts.queued }}
        {%- endif -%}
    </p>
{% endif %}
