{% extends "@DOMJudge/Fls/Authentication/base.html.twig" %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ asset('css/Fls/Authentication/login.css') }}">
    <script src="{{ asset("js/Fls/Authentication/login.js") }}"></script>
{% endblock %}

{% set hasaltmethods =
    ("xheaders" in allowed_authmethods and auth_xheaders_present) or
    ("ipaddress" in allowed_authmethods and auth_ipaddress_users|length > 0)
%}

{% set showregular = not hasaltmethods or error %}

{% block content  %}
    <div class="login_content d-flex justify-content-center align-items-center">
        <div class="login d-flex flex-column">
            <div class="logo_login d-flex flex-row">
                <div class="logo_fpt">
                </div>
                <div class="logo_fls ml-auto">
                </div>
            </div>
            <div class="form_login">
                <div class="col-md-3 pt-2 pb-2" style="margin: auto">
                    {# <h3 class="col-md-12"><b>LOGIN</b></h3> #}
                </div>
                <form action="{{ path('login') }}" method="POST">
                    <div class="col-md-10" style="margin: auto">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> 
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Username</span>
                            </div>
                            <input type="text" id="username" name="_username" type="text" class="form-control" required autofocus placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Password</span>
                            </div>
                            <input type="password" id="inputPassword" name="_password" required autocomplete="current-password" type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <div class="col-md-5" style="margin: 15px auto">
                            <button type="submit" class="btn btn-success col-md-12">Login</button>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>        
    </div>
{% endblock %}