{% extends "@DOMJudge/Fls/share/base.html.twig" %}

{% block title %}{{ title|default('Fls-Teacher') }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ extrahead|default('') }}
    <link rel="stylesheet" href="{{ asset('css/Fls/Teacher/simple-sidebar.css') }}">
{% endblock %}

{% block menu %}
    {% include '@DOMJudge/Fls/share/share_menu.html.twig' %}
{% endblock %}

{% block footer %}
    <script>
        $(function () {
            /* Show the notification options if the browser supports it */
            if ('Notification' in window) {
                $('#notify_disable').click(disableNotifications);
                $('#notify_enable').click(enableNotifications);
                if (getCookie('domjudge_notify') != 1) {
                    $('#notify_enable').removeClass('d-none');
                } else {
                    $('#notify_disable').removeClass('d-none');
                }
            }
            updateMenuAlerts();
            setInterval(updateMenuAlerts, 3000);
        });
    </script>
{% endblock %}