{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/Fls/Teacher/teacher_macros.twig" as macros %}

{% block title %}Ask! - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Asks!</h1>

        {# <p><a href="#newrequests">View New Asks Requests</a></p>
        <p><a href="#oldrequests">View Old Asks Requests</a></p> #}
        <h3 id="newrequests">New requests:</h3>
        {%- if newClarifications | length == 0 %}
            <p class="nodata">No new asks requests.</p>
        {%- else %}
            {%- include '@DOMJudge/Fls/Teacher/partials/clarification_list.html.twig' with {clarifications: newClarifications} %}
        {%- endif %}

        <h3 id="oldrequests">Old requests:</h3>
        {%- if oldClarifications | length == 0 %}
            <p class="nodata">No old clarification requests.</p>
        {%- else %}
            {%- include '@DOMJudge/Fls/Teacher/partials/clarification_list.html.twig' with {clarifications: oldClarifications} %}
        {%- endif %}

    <script>
        $().ready(function () {
            var table = $('.data-table').DataTable({
                "paging": false,
                "ordering": true,
                "info": false,
                "autoWidth": true,
                "language": {
                    "searchPlaceholder": "filter table",
                    "search": "_INPUT_",
                },
                'aoColumnDefs': [
                    {aTargets: ['_all'], bSortable: true, bSearchable: true}
                ],
            });
            $('.qbut').on('change', function () {
                var icon = $("#qig" + $(this).attr('data-clarid') );
                icon.html('<i class="fas fa-spinner fa-spin"></i>');
                var parenttd = $(this).closest('td');
                var parenttr = $(this).closest('tr');
                var newname = $(this).closest('label').text().trim();
                $.post("{{ path('jury_clarification_change_queue', {'clarId': 12345}) }}".replace('12345', $(this).attr('data-clarid')),
                    {'queue': $(this).val()})
                    .done(function( data ) {
                        if ( data ) {
                            parenttd.attr('data-search', newname);
                            table.rows(parenttr).invalidate();
                            icon.html('<i class="fas fa-check"></i>');
                        } else {
                            icon.html('<i class="fas fa-times"></i>');
                        }
                    });
            });
        });
    </script>

{% endblock %}
