{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}

{% set origclar = list|first %}
{% set claimed = not origclar.answered and origclar.from_jurymember is defined %}

{% block title %}


Ask! {{ origclar.clarid }} 

- {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="container clarificationform">
{% if claimed %}
<div class="alert alert-info" role="alert">
<i class="fas fas fa-check"></i> Answered by <strong>{{ origclar.from_jurymember }}</strong>
{% if origclar.jurymember_is_me %}(it's you!){% endif %}
</div>
{% endif %}

{% set count = 0 %}
{% for clar in list %}

<div class="card mb-3 {% if clar.from_teamid is not defined %}border-primary{% endif %}">
<div class="card-header"><div class="row">
<div class="col-sm">
    
    {% if count > 0 %}
        {% if clar.from_userid is defined %}
            Reply by {{ clar.from_username }}:
            {% set count = count + 1 %}
        {% else %}
            Reply by Teacher:
            {% set count = count + 1 %}
        {% endif %}
    {% else %}
        Ask {{ clar.clarid }}
        {% set count = count + 1 %}
    {% endif %}
</div>
<div class="col-sm text-muted text-right">{{clar.time | printtime('%Y-%m-%d %H:%M:%S') }}</div>
</div></div>
<div class="card-body">
<div class="card-title">
<div class="row">
<div class="col-sm">
From:
{% if clar.from_userid is defined %}
<a href="{{ path('jury_team', {teamId: clar.from_userid}) }}">{{ clar.from_username }} (t{{ clar.from_userid }})</a>
{% else %}
Teacher
    {% if clar.from_jurymember is defined %}
        ({{ clar.from_jurymember }})
    {% endif %}
{% endif %}
</div>

<div class="col-sm">
<label for="subject" >Problem: <a target="_blank" title="{{clarform.userproblem.probid.name}}" href="{{ path('teacher_problem', {probId: clarform.userproblem.probid.probid}) }}">{{clarform.userproblem.probid.shortname}}</a> </label>
</div>
</div>

<div class="row">
<div class="col-sm">To:
{% if clar.to_teamid is defined %}
<a href="#">{{ clar.to_teamname }} (t{{ clar.to_teamid }})</a>
{% elseif clar.from_teamid is defined %}
Teacher
{% else %}
<strong>All</strong>
{% endif %}
</div>


</div>
</div>

<div class="card-text"><pre class="output-text bg-light p-3">{{ clar.body }}</pre></div>

</div>
</div>

{% endfor %}

<div class="knoppenbalk">
<div class="row">
<div class="col-sm"><button class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#collapsereplyform"
 aria-expanded="false" aria-controls="collapsereplyform"><i class="fa fa-reply"></i> reply</button>
</div>

<div class="col-sm text-right">
<form action="{{ path('jury_clarification_set_answered', {'clarId': origclar.clarid}) }}" method="post">

{% if origclar.answered %}
<button class="btn btn-sm btn-outline-warning" name="answered" value="0" type="submit"><i class="fas fa-times"></i> set unanswered</button>
{% else %}
<button class="btn btn-sm btn-warning" name="answered" value="1" type="submit"><i class="fas fa-check"></i> set answered</button>
{% endif %}
</form>
</div>

</div>
</div>

</div>

<div class="collapse container clarificationform" id="collapsereplyform"><div class="card">
<div class="card-header">Reply this request</div>
<div class="card-body">
{%- include '@DOMJudge/Fls/Teacher/partials/clarification_form.html.twig' %}
</div>
</div></div>

<div class="mb-5"></div>
{% endblock %}
{% block extrafooter %}
<script>
    $(function() {
        $(['subject', 'queue']).each(function(_, field) {
            $('.clarification-' + field + '-change-button').on('click', function () {
                $(this).closest('.clarification-' + field).hide();
                $(this).closest('div').find('.clarification-' + field + '-form').show();
            });
            $('.clarification-' + field + '-cancel-button').on('click', function () {
                $(this).closest('.clarification-' + field + '-form').hide();
                $(this).closest('div').find('.clarification-' + field).show();
            });
            $('.clarification-' + field + '-form select').on('change', function () {
                var $select = $(this);
                var $form = $select.closest('.clarification-' + field + '-form');
                var clarId = $form.data('clarification-id');
                var value = $select.find(':selected').text();
                if (confirm('Are you sure you want to change the ' + field + ' of clarification ' + clarId + ' to "' + value + '"?')) {
                    $form.find('form').submit();
                } else {
                    $select.val($form.data('current-selected-' + field));
                }
            });
        });
        $('#clar_answers').change(clarificationAppendAnswer);
     });
</script>
{% endblock %}
