{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}

{% block title %}Send clarification - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="container clarificationform">
<h1>Send Request!</h1>
{%- include '@DOMJudge/Fls/Teacher/partials/teacher_send_request_form.html.twig'  %}
</div>    
{% endblock %}
