{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/Fls/Teacher/teacher_macros.twig" as macros %}

{% block title %}Problems - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="d-flex mr-1" id="wrapper" style="height: 101%">
    {% include '@DOMJudge/Fls/Teacher/partials/sidebar.html.twig' with {cid: cid} %}
    <div class="pl-3 h-100 w-100" id="page-content-wrapper">
        <h3>Problems of class {{ classMenu is defined ? classMenu.name:'' }}</h3>
        <div id="dom_data" 
            data-classid ="{{cid}}"
            data-problem ="{{ (problems is defined) ? problems:[] }}"
            data-route-detail="{{ path('teacher_problem', {'probId': 0} ) }}"
            data-route-add-rq="{{ path('view_add_requirement_class') }}" 
            hidden></div>
        <div class="d-inline-flex w-100"  style="height: 98%">
            <div class="col-12 pr-0 pl-0">
                <div id="tb_class_problem" style="height: 100%;width:100%" class="ag-theme-material"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block modal %}
{# detail modal  #}
<div class="modal fade" tabindex="-1" id="add_requirement_modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Requirement</h4>
                <button id="btn_close_x" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                {# data #}
            </div>
        </div>
    </div>
</div>
{# end detail modal  #}
{% endblock %}
{% block extrafooter %}
    <script src="{{ asset("js/Fls/Teacher/class_problem.js") }}"></script>
{% endblock %}
