{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}

{% block title %}View content of executable {{ executable.execid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/ace/ace.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('js/ace/ext-modelist.js') }}" charset="utf-8"></script>
{% endblock %}

{% block content %}

    <h1>View content of executable {{ executable.execid }}</h1>

    {% if skippedBinary is not empty %}
        <div>
            Binary files:
            <ul>
                {% for file in skippedBinary %}
                    <li>{{ file }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <ul class="nav nav-tabs source-tab-nav">
        {%- for idx, filename in filenames %}

            <li class="nav-item">
                <a class="nav-link {% if loop.first %}active{% endif %}" data-toggle="tab"
                   href="#source-{{ idx }}" role="tab">{{ filename }}</a>
            </li>
        {%- endfor %}

    </ul>
    <div class="tab-content source-tab">
        {%- for idx, filename in filenames %}
            <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="source-{{ idx }}"
                 role="tabpanel">
                <div class="mb-1">
                    <a class="btn btn-secondary btn-sm"
                       href="{{ path('teacher_executable_download_single', {execId: executable.execid, index: idx}) }}">
                        <i class="fas fa-download"></i> Download
                    </a>
                    <a class="btn btn-secondary btn-sm"
                       href="{{ path('teacher_executable_edit_files', {execId: executable.execid, index: idx}) }}">
                        <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                </div>

                {{ files[idx] | codeEditor(idx, null, false, '', aceFilenames[idx]) }}
            </div>
        {%- endfor %}
    </div>

{% endblock %}
