{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/Fls/Teacher/teacher_macros.twig" as macros %}

{% block title %}Edit executable {{ executable.execid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
    {{ macros.select2_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Edit executable {{ executable.execid }}</h1>

    <div class="row">
        <div class="col-lg-4">
            {{ form(form) }}
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <hr>
        <i>or</i>

        <div class="row">
            <div class="col-lg-4">
                {{ form(uploadForm) }}
            </div>
        </div>
    {% endif %}

{% endblock %}
