{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}

{% block title %}Edit content of executable {{ executable.execid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/ace/ace.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('js/ace/ext-modelist.js') }}" charset="utf-8"></script>
{% endblock %}

{% block content %}

    <h1>Edit content of executable {{ executable.execid }}</h1>

    {{ form_start(form) }}

    <ul class="nav nav-tabs source-tab-nav">
        {%- for idx, filename in filenames %}

            <li class="nav-item">
                <a class="nav-link {% if (selected is null and loop.first) or selected == idx %}active{% endif %}" data-toggle="tab"
                   href="#source-{{ idx }}" role="tab">{{ filename }}</a>
            </li>
        {%- endfor %}

    </ul>
    <div class="tab-content source-tab">
        {%- for idx, filename in filenames %}
            <div class="tab-pane fade {% if (selected is null and loop.first) or selected == idx %}show active{% endif %}" id="source-{{ idx }}"
                 role="tabpanel">
                <div class="mb-1">
                    <a class="btn btn-secondary btn-sm"
                       href="{{ path('teacher_executable_download_single', {execId: executable.execid, index: idx}) }}">
                        <i class="fas fa-download"></i> Download
                    </a>
                    <a class="btn btn-secondary btn-sm"
                       href="{{ path('teacher_executable_edit_files', {execId: executable.execid, index: idx}) }}">
                        <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                </div>

                {{ files[idx] | codeEditor(idx, null, true, 'form_source' ~ idx, aceFilenames[idx]) }}
                <script>
                    $(function () {
                        $('#form_source{{ idx }}').closest('.form-group').hide();
                    });
                </script>
            </div>
        {%- endfor %}
    </div>

    <div class="row">
        <div class="col-lg-4">
            {{ form_widget(form) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
