{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}

{% block extrahead %}
	<link rel="stylesheet" href="{{ asset('css/Fls/Student/student.css') }}">
	<link rel="stylesheet" href="{{ asset('css/bootstrap-select.min.css') }}">
{% endblock %}

{% block content  %}
	<div id="dom_data_import" data-route-index="{{ path('teacher_index', {'semesterId': ''} ) }}" data-route-import="{{ path('admin_class_import') }}" data-route-import-schedule="{{ path('admin_schedule_import') }}"></div>
	<div
		class="content_1 flex-column">
		<!-- admin content -->
		{%- if is_granted('ROLE_ADMIN') %}
			<div class="d-flex flex-row bd-highlight mb-0">
				<div class="p-2 bd-highlight">
					<h1>Classes management</h1>
				</div>
			</div>
			<div class="d-flex flex-row bd-highlight mb-3">
				<div class="p-2 bd-highlight">
					<a href="{{ path('admin_class_add') }}">
						<button type="button" class="btn btn-outline-success">
							<i class="fas fa-plus"></i>
							<span>
								Add new class</span>
						</button>
					</a>
				</div>
				<div
					class="p-2 bd-highlight">
					<button type="button" data-add id="btnAddSemester" class="btn btn-outline-success" data-toggle="modal" data-target="#importClass" aria-expanded="false">
						<i class="fas fa-file-import"></i>
						Import Class</button>
				</div>
			</div>
			<div class="d-flex flex-row bd-highlight mb-0">
					<div
						class="p-2 bd-highlight">
						<!--Blue select-->
						{% if showFilder == true %}
							<select class="selectpicker" id="selectSemester" onchange="changeSemester()" data-live-search="true" data-style="btn-success" data-size="5" data-header="Select a Semester">
								{% for semester in listSemester %}
									{% if semester.semid == semFilter %}
										<option value="{{ semester.semid }}" selected>{{ semester.name }}</option>
									{% else %}
										<option value="{{ semester.semid }}">{{ semester.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						{% endif %}
					</div>
				</div>
			<form action='/upload' method='post' enctype='multipart/form-data' id='Classes_FileUploadForm'>
				<fieldset>
					<input type='file' name='Filedata' id='Classes_File' accept='.csv,.xlsx,.xls' style='display:none;'></fieldset>
			</form>
			<form action='/upload' method='post' enctype='multipart/form-data' id='schedule_FileUploadForm'>
				<fieldset>
					<input type='file' name='Filedata' id='Schedule_File' accept='.csv,.xlsx,.xls' style='display:none;'></fieldset>
			</form>
		{% endif %}

		{% if currentSemester is defined %}
			<div id="currentSemName" data-sem-name="{{ currentSemester }}" ></div>
		{% endif %}

		<!-- list class content -->
		{% if listClass is defined %}
			<div class="alert alert-info">{{message}}</div>
			<div class="col-md-12 pr-0 pl-0" style="height: 90%;">
				<div id="tb_class" style="height: 100%" class="ag-theme-material"></div>
			</div>
			<div id="dom_data" data-class="{{ listClass }}" data-route="{{ path('teacher_selected_class',{'className':''}) }}" data-route-starttime="{{ path('starttime') }}" data-route-import="{{ path('admin_class_import') }}" data-route-stoptime="{{ path('stoptime') }}"></div>
		{% else %}
			<div class="alert alert-danger">{{message}}</div>
		{% endif %}
	</div>
{% endblock %}
{% block modal %}
	{# submit file modal  #}
	<div class="modal fade" tabindex="-1" id="importClass">
		<div class="modal-dialog modal-lg">
			<div
				class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Import detail</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div>
						<span>Import Class, Teacher, Student:
						</span>
						<br>
						<button
							type="button" id='btnClassImport' class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Import Class">
							{# <i class="fas fa-file-import"></i> #}
							<span>Browser...</span>
						</button>
						<span id="class_filename"></span>
						<button
							type="button" id='btnClassUpload' class="btn btn-primary" title="Import Class">
							{# <i class="fas fa-file-import"></i> #}
							<span id="btnClassUpload_span">Upload</span>
						</button>
						<br>
						<span class="text-success" id="class_success_status"></span>
						<span class="text-danger" id="class_danger_status"></span>
					</div>
					<div>
						<span>Import Schedule:</span>
						<br>
						<button
							type="button" id='btnScheduleImport' class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Import Schedule">
							{# <i class="fas fa-file-import"></i> #}
							<span>Browser...</span>
						</button>
						<span id="schedule_filename"></span>
						<button
							type="button" id='btnScheduleUpload' class="btn btn-primary" title="Import Schedule">
							{# <i class="fas fa-file-import"></i> #}
							<span id="btnScheduleUpload_span">Upload</span>
						</button>
						<br>
						<span class="text-success" id="schedule_success_status"></span>
						<span class="text-danger" id="schedule_danger_status"></span>
					</div>

					<br>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<div class="input-group-append">
						<button class="btn btn-success" id="btnOk" data-dismiss="modal" type="submit">
							Ok
						</button>
					</div>
					<button type="button" class="btn btn-danger" id="btnCancel" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block extrafooter %}
	<script src="{{ asset("js/Fls/Teacher/teacher_index.js") }}"></script>
	<script src="{{ asset("js/bootstrap-select.min.js") }}"></script>
{% endblock %}
