{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/Fls/Teacher/teacher_macros.twig" as macros %}

{% block title %}Judgehosts - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}
<div class="d-flex mr-1" id="wrapper" style="height: 101%">
    {% if cid is defined %}
        {% include '@DOMJudge/Fls/Teacher/partials/sidebar.html.twig' with {cid: cid} %}
    {% endif %}
    <div class="pl-3 h-100 w-100" id="page-content-wrapper">
        <h3>Judgehosts</h3>

        <div data-ajax-refresh-target>
            {% include '@DOMJudge/Fls/Teacher/partials/judgehost_list.html.twig' %}
        </div>

        {%- if is_granted('ROLE_ADMIN') %}
            <div class="mb-4">
                <form action="{{ path('teacher_judgehost_activate_all') }}" method="post" class="d-inline">
                    <button type="submit" name="cmd-activate" class="btn btn-success">
                        <i class="fas fa-play"></i>
                        Start all judgehosts
                    </button>
                </form>
                <form action="{{ path('teacher_judgehost_deactivate_all') }}" method="post" class="d-inline">
                    <button type="submit" name="cmd-deactivate" class="btn btn-warning">
                        <i class="fas fa-pause"></i>
                        Stop all judgehosts
                    </button>
                </form>
                <div class="d-inline">
                    {{ button(path('teacher_judgehost_edit'), 'Edit judgehosts', 'secondary', 'edit') }}
                </div>
            </div>

        {%- endif %}
    </div>
</div>

{% endblock %}
