{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}

{% block title %}Edit Judgehosts - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Edit Judgehosts</h1>

    {% include '@DOMJudge/Fls/Teacher/partials/judgehosts_form.html.twig' %}

{% endblock %}
