{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/Fls/Teacher/teacher_macros.twig" as macros %}

{% block title %}Edit language {{ language.langid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.select2_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Edit language {{ language.langid }}</h1>

    <div class="row">
        <div class="col-lg-4">
            <table class="table table-sm table-striped">
                <tr>
                    <th>Language ID/ext</th>
                    <td>{{ language.langid }}</td>
                </tr>
            </table>
        </div>
    </div>

    {% include '@DOMJudge/Fls/Teacher/partials/language_form.html.twig' %}

{% endblock %}
