{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% block title %}Add language - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Add language</h1>

    {% include '@DOMJudge/Fls/Teacher/partials/language_form.html.twig' %}

{% endblock %}
