{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/Fls/Teacher/teacher_macros.twig" as macros %}

{% block title %}Languages - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}
<div class="d-flex mr-1" id="wrapper" style="height: 101%">
    {% if cid is defined %}
        {% include '@DOMJudge/Fls/Teacher/partials/sidebar.html.twig' with {cid: cid} %}
    {% endif %}
    <div class="pl-3 h-100 w-100" id="page-content-wrapper">
        <h3>Languages</h3>

        {{ macros.table(languages, table_fields, num_actions) }}

        {% if is_granted('ROLE_ADMIN') %}
            <p>
                {{ button(path('teacher_language_add',{'cid':cid|default('')}), 'Add new language', 'primary', 'plus') }}
            </p>
        {% endif %}
    </div>
</div>

{% endblock %}
