{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/Fls/Teacher/teacher_macros.twig" as macros %}

{% block title %}Problems - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

<div class="d-flex mr-1" id="wrapper">
    {% if cid is defined %}
        {% include '@DOMJudge/Fls/Teacher/partials/sidebar.html.twig' with {cid: cid} %}
    {% endif %}
    <div class="pl-3" id="page-content-wrapper">
        <h3>Problems</h3>

        {{ macros.table(problems, table_fields, num_actions) }}

        {% if is_granted('ROLE_ADMIN') %}
            <p>
                {{ button(path('teacher_problem_add'), 'Add new problem', 'primary', 'plus') }}
            </p>

            {{ form(form) }}
        {% endif %}
    </div>
</div>
{% endblock %}
