{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/Fls/Teacher/teacher_macros.twig" as macros %}

{% block title %}Testcases for p{{ problem.probid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Testcases for p{{ problem.probid }} - {{ problem.name }}</h1>

    <div class="mb-2">
        <a href="{{ path('teacher_problem', {'probId': problem.probid}) }}">Back to problem p{{ problem.probid }}</a>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        {# We use a variable here so indeting doesn't get screwed up #}
        {% set formStart = '<form method="post" enctype="multipart/form-data">' %}
        {{ formStart | raw }}
    {% endif %}

    {% if testcases is empty %}
        <p class="nodata">No testcase(s) yet.</p>
    {% else %}
        <table class="table table-sm table-striped table-hover testcases">
            <thead>
            <tr>
                <th class="testrank">#</th>
                <th class="testsample">sample</th>
                <th>download</th>
                <th>size</th>
                <th>md5</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>upload new</th>
                {% endif %}
                <th>description / image</th>
            </tr>
            </thead>
            <tbody>
            {% for rank, testcase in testcases %}
                <tr>
                    <td rowspan="2" class="testrank">
                        <a href="{{ path('teacher_problem_testcase_move', {'probId': problem.probid, 'rank': testcase.rank, 'direction': 'up'}) }}"
                           title="Move testcase up"><i class="fas fa-arrow-up"></i></a><br>
                        {{ testcase.rank }}<br>
                        <a href="{{ path('teacher_problem_testcase_move', {'probId': problem.probid, 'rank': testcase.rank, 'direction': 'down'}) }}"
                           title="Move testcase down"><i class="fas fa-arrow-down"></i></a>
                    </td>
                    <td rowspan="2" class="testsample">
                        <input type="checkbox" name="sample[{{ testcase.rank }}]" value="sample"
                               {% if testcase.sample %}checked{% endif %} />
                    </td>
                    <td class="filename">
                        <a target="_blank" href="{{ path('teacher_problem_testcase_fetch', {'probId': problem.probid, 'rank': testcase.rank, 'type': 'input'}) }}">
                            p{{ problem.probid }}.t{{ testcase.rank }}.in
                        </a>
                    </td>
                    <td class="size">
                        {{ testcaseData[testcase.rank].input_size | printSize }}
                    </td>
                    <td class="md5 small">
                        {{ testcase.md5sumInput }}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><div class="custom-file">
                            <input type="file" class="custom-file-input" name="update_input[{{ testcase.rank }}]" id="update_input_{{testcase.rank}}">
                            <label class="custom-file-label text-truncate text-muted" for="update_input_{{testcase.rank}}">new input file</label>
                        </div></td>
                    {% endif %}
                    <td class="testdesc">
                        <span class="testcase-description">{{ testcase.description(true) | descriptionExpand }}</span>
                        {% if is_granted('ROLE_ADMIN') %}
                            <textarea class="d-none form-control testcase-description-field" name="description[{{ testcase.rank }}]">{{ testcase.description(true) }}</textarea>
                            <button type="button" class="float-right testcase-edit-description btn btn-secondary btn-sm">Edit</button>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="filename">
                        <a target="_blank" href="{{ path('teacher_problem_testcase_fetch', {'probId': problem.probid, 'rank': testcase.rank, 'type': 'output'}) }}">
                            p{{ problem.probid }}.t{{ testcase.rank }}.out
                        </a>
                    </td>
                    <td class="size">
                        {{ testcaseData[testcase.rank].output_size | printSize }}
                    </td>
                    <td class="md5 small">
                        {{ testcase.md5sumOutput }}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><div class="custom-file">
                            <input type="file" class="custom-file-input" name="update_output[{{ testcase.rank }}]" id="update_output_{{testcase.rank}}">
                            <label class="custom-file-label text-truncate text-muted" for="update_output_{{testcase.rank}}">new output file</label>
                        </div></td>
                    {% endif %}
                    <td class="testimage">
                        {% if testcaseData[testcase.rank].image_size > 0 %}
                            <a target="_blank" href="{{ path('teacher_problem_testcase_fetch', {'probId': problem.probid, 'rank': testcase.rank, 'type': 'image'}) }}">
                                <span class="filename">p{{ problem.probid }}.t{{ testcase.rank }}.{{ testcaseData[testcase.rank].image_type }}</span>
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                            &nbsp;
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="update_image[{{ testcase.rank }}]" id="update_image_{{testcase.rank}}">
                                <label class="custom-file-label text-truncate text-muted" for="update_image_{{testcase.rank}}">replace image</label>
                            </div>
                            {% endif %}
                        {% else %}
                            {% if is_granted('ROLE_ADMIN') %}
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="update_image[{{ testcase.rank }}]" id="update_image_{{testcase.rank}}">
                                <label class="custom-file-label text-truncate text-muted" for="update_image_{{testcase.rank}}">add an image</label>
                            </div>
                            {% else %}
                            <span class="nodata">No image</span>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <h2>Create new testcase</h2>

        <div class="form-row">
            <div class="form-group col-sm-4">
                <label for="add_input">Input testdata</label>
                <input type="file" name="add_input" id="add_input" class="form-control-file"/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-4">
                <label for="add_output">Output testdata</label>
                <input type="file" name="add_output" id="add_output" class="form-control-file"/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="add_sample" name="add_sample">
                    <label class="custom-control-label" for="add_sample">Sample testcase</label>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-4">
                <label for="add_desc">Description</label>
                <textarea name="add_desc" id="add_desc" rows="5" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-4">
                <label for="add_image">Image</label>
                <input type="file" name="add_image" id="add_image" class="form-control-file"/>
            </div>
        </div>

        <input type="submit" class="btn btn-primary" value="Submit all changes">
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        {# We use a variable here so indeting doesn't get screwed up #}
        {% set formEnd = '</form>' %}
        {{ formEnd | raw }}
    {% endif %}

    <script>
        $(function() {
            $('.testcase-edit-description').on('click', function() {
                var $button = $(this);
                var $description = $button.parent().find('.testcase-description');
                var $descriptionInput = $button.parent().find('.testcase-description-field');

                if ($description.hasClass('d-none')) {
                    $description.removeClass('d-none');
                    $descriptionInput.addClass('d-none');
                    $button.text('Edit');
                    $descriptionInput.val($description.text());
                } else {
                    $description.addClass('d-none');
                    $descriptionInput.removeClass('d-none');
                    $button.text('Cancel');
                }
            });
        });
    </script>

{% endblock %}
