{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/Fls/Teacher/teacher_macros.twig" as macros %}

{% block title %}Problem {{ problem.probid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}
<div class="d-flex mr-1" id="wrapper" style="height: 101%">
    {% if cid is defined %}
        {% include '@DOMJudge/Fls/Teacher/partials/sidebar.html.twig' with {cid: cid} %}
    {% endif %}
    <div class="pl-3 h-100 w-100" id="page-content-wrapper">
        <h3>Problem {{ problem.name }}</h4>

        <div class="row">
            <div class="col-lg-4">
                <table class="table table-sm table-striped">
                    <tr>
                        <th>ID</th>
                        <td>p{{ problem.probid }}</td>
                    </tr>
                    {% if showExternalId(problem) %}
                        <tr>
                            <th>External ID</th>
                            <td>{{ problem.externalid }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Name</th>
                        <td>{{ problem.name }}</td>
                    </tr>
                    <tr>
                        <th>Testcases</th>
                        <td>
                            {% if problem.testcases is empty %}
                                <em>no testcases</em>
                            {% else %}
                                {{ problem.testcases.count }}
                            {% endif %}
                            <a href="{{ path('teacher_problem_testcases', {'probId': problem.probid}) }}">details / edit</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Timelimit</th>
                        <td>{{ problem.timelimit }} sec</td>
                    </tr>
                    <tr>
                        <th>Difficult</th>
                        <td>{{ problem.difficult }}</td>
                    </tr>
                    <tr>
                        <th>Line of Code</th>
                        <td>{{ problem.points }} LoC</td>
                    </tr>
                    <tr>
                        <th>Topic</th>
                        <td>
                        {% for tid in problem.tid %}
                        {{ tid.name }},
                        {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Memory limit</th>
                        <td>
                            {% if problem.memlimit == null %}
                                {{ defaultMemoryLimit }} kB (default)
                            {% else %}
                                {{ problem.memlimit }} kB
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Output limit</th>
                        <td>
                            {% if problem.outputlimit == null %}
                                {{ defaultOutputLimit }} kB (default)
                            {% else %}
                                {{ problem.outputlimit }} kB
                            {% endif %}
                        </td>
                    </tr>
                    {% if problem.problemtextType is not empty %}
                        <tr>
                            <th>Problem text</th>
                            <td>
                                <a href="{{ path('teacher_problem_text', {'probId': problem.probid}) }}">
                                    <i title="view problem description"
                                    class="fas fa-file-{{ problem.problemtextType }}"></i>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Run script</th>
                        <td class="filename">
                            {% if problem.runExecutable is not empty %}
                                <a href="{{ path('teacher_executable', {'execId': problem.runExecutable.execid}) }}">{{ problem.runExecutable.execid }}</a>
                            {% else %}
                                <a href="{{ path('teacher_executable', {'execId': defaultRunExecutable}) }}">{{ defaultRunExecutable }}</a>
                                (default)
                            {% endif %}
                        </td>
                    </tr>
            {% if problem.combinedRunCompare %}
                    <tr>
                        <th>Compare script</th>
                        <td>Run script combines run and compare script.</td>
                    </tr>
                    {% else %}
                    <tr>
                        <th>Compare script</th>
                        <td class="filename">
                            {% if problem.compareExecutable is not empty %}
                                <a href="{{ path('teacher_executable', {'execId': problem.compareExecutable.execid}) }}">{{ problem.compareExecutable.execid }}</a>
                            {% else %}
                                <a href="{{ path('teacher_executable', {'execId': defaultCompareExecutable}) }}">{{ defaultCompareExecutable }}</a>
                                (default)
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if problem.specialCompareArgs is not empty %}
                        <tr>
                            <th>Compare script arguments</th>
                            <td class="filename">{{ problem.specialCompareArgs }}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>

        <p>
            {%- if is_granted('ROLE_ADMIN') -%}
                {{ button(path('teacher_problem_edit', {'probId': problem.probid}), 'Edit', 'primary', 'edit') }}
                {{ button(path('teacher_problem_delete', {'probId': problem.probid}), 'Delete', 'danger', 'trash-alt', true) }}
            {% endif %}
        </p>
    </div>
</div>

{% endblock %}
