{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/Fls/Teacher/teacher_macros.twig" as macros %}

{% block title %}Add problem - {{ parent() }}{% endblock %}
{% block extrahead %}
    {{ parent() }}
    {{ macros.select2_extrahead() }}
    {{ macros.jscolor_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Add problem</h1>

    {% include '@DOMJudge/Fls/Teacher/partials/problem_form.html.twig' %}

{% endblock %}
