{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/Fls/Teacher/teacher_macros.twig" as macros %}

{% block title %}Edit problem {{ problem.probid }} - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Edit problem {{ problem.probid }}</h1>

    <div class="row">
        <div class="col-lg-4">
            <table class="table table-sm table-striped">
                <tr>
                    <th>Problem ID</th>
                    <td>{{ problem.probid }}</td>
                </tr>
                <tr>
                    <th>Testcases</th>
                    <td>
                        {% if problem.testcases is empty %}
                            <em>no testcases</em>
                        {% else %}
                            <a href="{{ path('teacher_problem_testcases', {'probId': problem.probid}) }}">details / edit</a>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {% include '@DOMJudge/Fls/Teacher/partials/problem_form.html.twig' %}

    {% if is_granted('ROLE_ADMINs') %}
        <hr>
        <i>or</i>

        <div class="row">
            <div class="col-lg-4">
                {{ form(uploadForm) }}
            </div>
        </div>
    {% endif %}

{% endblock %}
