{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/Fls/Teacher/teacher_macros.twig" as macros %}

{% block title %}Problems - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="d-flex mr-1" id="wrapper" style="height: 101%">
    {% include '@DOMJudge/Fls/Teacher/partials/sidebar.html.twig' with {cid: cid} %}
    <div class="pl-3 h-100 w-100" id="page-content-wrapper">
        {% if error is defined %}
        <div id="dom_data" data-classid="{{cid}}" hidden></div>
        <div> {{error}} </div>
        {% else %}
            <h3>Problems of {{ student is defined ? student.name:'' }}</h3>
            <div id="dom_data" 
                data-classid ="{{cid}}"
                data-userid="{{student is defined ? student.userid:''}}"
                data-problem ="{{ (problems is defined) ? problems:[] }}"
                data-route-detail="{{ path('teacher_problem', {'probId': 0} ) }}"
                data-route-add-rq="{{ path('view_requirement_student') }}"
                hidden></div>
            <div class="d-inline-flex w-100"  style="height: 98%">
                <div class="col-12 pr-0 pl-0">
                    <div id="tb_student_problem" style="height: 100%;width:100%" class="ag-theme-material"></div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block modal %}
{# detail modal  #}
<div class="modal fade" tabindex="-1" id="requirement_modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Requirement</h4>
                <button id="btn_close_x" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                {# data #}
            </div>
        </div>
    </div>
</div>
{# end detail modal  #}
{% endblock %}
{% block extrafooter %}
    <script src="{{ asset("js/Fls/Teacher/student_problem.js") }}"></script>
{% endblock %}
