{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}
{% import _self as self %}

{% block title %}Source s{{ submission.submitid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/ace/ace.js') }}" charset="utf-8"></script>
{% endblock %}

{% block content %}

    <h1>
        Source code for submission
        <a href="{{ path('jury_submission', {submitId: submission.submitid}) }}">s{{ submission.submitid }}</a>
        {%- if submission.originalSubmission %}
            (resubmit of
            <a href="{{ path('jury_submission', {submitId: submission.originalSubmission.submitid}) }}">s{{ submission.originalSubmission.submitid }}</a>)
        {%- endif %}
        {% if submission.resubmissions is not empty %}
            (resubmitted as
            {%- for resubmission in submission.resubmissions %}
                <a href="{{ path('jury_submission', {submitId: resubmission.origsubmitid}) }}">s{{ resubmission.submitid }}</a>
                {%- if not loop.last -%},{%- endif -%}
            {%- endfor -%}
            )
        {% endif %}

    </h1>

    {%- if submission.entryPoint %}

        <p><b>Entry point</b>: {{ submission.entryPoint }}</p>
    {%- endif %}

    {%- if oldSubmission is not null %}

        <p><a href="#diff">Go to diff to previous submission</a></p>
    {%- endif %}

    {%- if submission.origsubmitid %}

        <p><a href="#origdiff">Go to diff to original submission</a></p>
    {%- endif %}

    <ul class="nav nav-tabs source-tab-nav">
        {%- for file in files %}

            <li class="nav-item">
                <a class="nav-link {% if loop.first %}active{% endif %}" data-toggle="tab"
                   href="#source-{{ file.rank }}" role="tab">{{ file.filename }}</a>
            </li>
        {%- endfor %}

    </ul>
    <div class="tab-content source-tab">
        {%- for file in files %}

            <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="source-{{ file.rank }}"
                 role="tabpanel">
                <div class="mb-1">
                    <a class="btn btn-secondary btn-sm"
                       href="{{ path('teacher_submission_source', {submission: submission.submitid, fetch: file.rank}) }}">
                        <i class="fas fa-download"></i> Download
                    </a>
                </div>

                {#{{ file.sourcecode | codeEditor(file.rank, submission.language.aceLanguage) }}#}
            </div>
        {%- endfor %}

    </div>

    {# {%- if oldSubmission is not null %}

        <h2 id="diff" class="mt-3">
            Diff to submission
            <a href="{{ path('jury_submission', {submitId: oldSubmission.submitid}) }}">
                s{{ oldSubmission.submitid }}
            </a>
        </h2>

        {%- include '@DOMJudge/jury/partials/submission_diff.html.twig' with {oldSubmission: oldSubmission, oldFiles: oldFiles, oldFileStats: oldFileStats} %}
    {%- endif %}

    {%- if originalSubmission is not null %}

        <h2 id="origdiff" class="mt-3">
            Diff to original submission
            <a href="{{ path('jury_submission', {submitId: originalSubmission.submitid}) }}">
                s{{ originalSubmission.submitid }}
            </a>
        </h2>

        {%- include '@DOMJudge/jury/partials/submission_diff.html.twig' with {oldSubmission: originalSubmission, oldFiles: originalFiles, oldFileStats: originalFileStats} %}
    {%- endif %} #}

{% endblock %}
