{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}

{% block extrahead %}
    {{ parent() }}
{% endblock %}

{% block content  %}
<div class="d-flex mr-1" id="wrapper" style="height: 101%">
    {% if cid is defined %}
        {% include '@DOMJudge/Fls/Teacher/partials/sidebar.html.twig' with {cid: cid} %}
    {% endif %}
    <div class="pl-3 h-100 w-100" id="page-content-wrapper">
        <!-- content 1 -->
        {% if countRequest > 0 %}
        <div class="content_1 flex-column">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    Total request :
                    <span id="rows">{{countRequest}}</span>
                </div>
            </div>
            <div class="d-inline-flex sub_content w-100">
                <div id="dom_data" data-list-problem="{{ listProblem }}"
                        data-route-accept="{{ path('teacher_accept_change') }}"
                        data-route-reject="{{ path('teacher_reject_change') }}"></div>
                <div class="col-md-12 row">
                    <div class="col-md-12 pr-0 pl-0">
                        <div id="tb_request_problem" style="height: 800px;width:100%;" class="ag-theme-material"></div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <div class="alert alert-danger">Class hasn't request change problem</div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block modal %}
{# detail modal  #}
<div class="modal fade" tabindex="-1" id="reRandom_modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change problem detail</h4>
                <button id="btn_close_x" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                {# data #}
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="btn_close" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{# end detail modal  #}
{% endblock %}

{% block extrafooter %}
	<script src="{{ asset("js/Fls/Teacher/teacher_manage_request_problem.js") }}"></script>
{% endblock %}
