{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}

{% block extrahead %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('lib/Chart.min.css') }}">
    <script src="{{ asset("lib/Chart.min.js") }}"></script>
{% endblock %}

{% block content %}
<div class="d-flex mr-1" id="wrapper" style="height: 101%">
    {% if cid is defined %}
        {% include '@DOMJudge/Fls/Teacher/partials/sidebar.html.twig' with {cid: cid} %}
    {% endif %}
    <div class="pl-3 h-100 w-100" id="page-content-wrapper">
        <div class="col-12 pl-0 pr-0 h-100">
            {% if listStudent is defined %}
                <div class="col-12 pl-0 pr-0">
                    <div class="col-md-2">
                        <div class="input-group">
                            <div id="dom_data"
                                data-classid="{{cid}}"
                                data-management-student ="{{ listStudent }}"
                                data-route = "{{ path('detail_student',{'studentID':''}) }}"
                                data-route-position="{{ path('add_positions') }}"
                                hidden></div>
                        </div> 
                    </div>        
                </div>
                <div class="col-12 mb-2">
                    <button type="button" id="export_excel" class="btn btn-success ml-2 btn_add" data-toggle="tooltip" data-placement="top" title="export excel" > <i class="far fa-file-excel"></i> Export </button>
                    {% if not moreProblem %}
                        <a href="{{ path('teacher_random_problem', {'classID': cid}) }}">
                            <button type="button" id="export_excel" class="btn btn-success ml-2 btn_add" data-toggle="tooltip" data-placement="top" title="export excel" > Random Problem </button>
                        </a>
                    {% endif %}
                </div>
                <div class="col-12 pr-0 pl-0 h-100">
                    <div id="tb_managenement_student" style="height: 100%; width:100%" class="ag-theme-material"></div>
                </div>
            {% else %}
                <div class="alert alert-danger">Class have no data about Students. Please import data and try again</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block modal %}
{# detail modal  #}
<div class="modal fade" tabindex="-1" id="add_positions">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Positions</h4>
                <button id="btn_close_x" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                {# data #}
            </div>

            <!-- Modal footer -->
            {# <div class="modal-footer">
                <button id="btn_close" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> #}
        </div>
    </div>
</div>
{% endblock %}

{% block extrafooter %}
    <script src="{{ asset("js/Fls/Teacher/teacher_management_student.js") }}"></script>
{% endblock %}