{% extends "@DOMJudge/Fls/Teacher/base.html.twig" %}

{% block content %}
<div class="d-flex mr-1" id="wrapper" style="height: 96%;">
    {% include '@DOMJudge/Fls/Teacher/partials/sidebar.html.twig' with {cid: cid} %}
</div>
{% endblock %}
